%div{ :class => 'span-14 section_left last' }
  %h3= t('roleinchapters.show.title')
  - show_for @roleinchapter do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_roleinchapter_path(:id => @roleinchapter.id)
  = link_as_button t(:back), admin_roleinchapters_path
