%div{ :class => 'span-14 section_left last' }
  %h3= t('languages.show.title')
  - show_for @language do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_language_path(:id => @language.id)
  = link_as_button t(:back), admin_languages_path
