.author_list

  .span-6.last
    %b=t(:associated_academics)
    = link_to_close_author_list

  .span-6.last
    %ul
      - @genericwork.user_genericworks.each do |record|
        %li= record.author_with_role