%tbody{:id =>'collection'}
  = render :partial => 'groupmodality', :collection => @groupmodalities
  = render :partial => 'collection_footer'
%tfoot{:id => 'paginator'}
  %tr
    %th
      = will_paginate @groupmodalities, :id => 'ajaxed_paginator'
