<div class="title"> 
Inicio de sesi&oacute;n en el SALVA <a href="/help/user/" target="_new">Ayuda</a> 
</div>

<div class="loginform"> 
<% form_for :user, :url => { :action => 'signup'} do |f| %>
  <div class="row">
    <label for="user_login" class="label"><%= get_label('login') %></label>
    <%= f.text_field :login, :size => 15, :maxlength=> 32, :tabindex => 1 %>
  </div>

  <div class="row">
    <label for="user_passwd" class="label"><%= get_label('passwd') %></label>
    <%= f.password_field :passwd, :size => 15, :maxlength => 30, :tabindex => 2 %>
  </div>


  <div class="row">
   <%= submit_tag 'Iniciar sesión', :class => "button", :tabindex => 3 %>
  </div>
<% end %>

<%= end_form_tag %>
<hr/>
<div class="row"> 
¿No tiene una cuenta en el SALVA?
</div>
<div class="row"> 
<%= link_to 'Obtenga una ahora', :action =>'new' %> 
</div>
<hr/> 
<div class="row"> 
¿Ha olvidado  su contraseña?
</div>
<div class="row"> 
<%= link_to 'Obtenga una nueva', :action => 'forgotten_password_recovery' %> 
</div>
</div>
