<%= error_messages_for 'edit' %>

<!--[form:prizetype]-->
<div class="row"> 
<label for="name" class="label"><%= get_label('prizetype_id') %> <span class="required">*</span></label> 
<%= text_field 'prizetype', 'name', 'size' => 30, 'maxlength'=> 40, 'tabindex'=> 1, 'id' => 'name' %>
</div>


<!--[eoform:prizetype]-->

