<div class="filters">
<%= simple_select('filt', Country, 1) %>
<%= observe_select('filt', 'country_id', 'select_institution_international', 2) %>
<br/>

<div id="select_institution_international">

</div> 

</div> 
