<% unless id.to_i < 1 %>
   <%= select_conditions('edit', Institutioncareer, tabindex, :attributes => [ ['career', 'degree', 'name'], ['institution', 'name', ['institution', 'abbrev']]], :conditions => "institutioncareers.career_id = careers.id AND careers.degree_id = #{id} AND institutioncareers.institution_id = institutions.id AND institutions.country_id = 484 AND institutions.id = #{get_myschool.id}", :include => [:institution, :career], :order => 'careers.name ASC')%>
<% end %>
