<%= select_conditions('edit', Institution,  1,
:attributes => ['name', ['institution', 'abbrev']],
:conditions => "institutions.institutiontitle_id = institutiontitles.id AND (institutiontitles.name = 'Escuela' OR institutiontitles.name = 'Facultad') AND institutions.institution_id = 1", :include => [:institutiontitle],
:selected => get_myschool.id
) %>
