<%= table_show(@edit) %>
<%= render :partial =>"salva/moduser" %>
<div id="operations">
 <%= link_to get_label('edit'), :action => 'edit', :id => @edit.id %> |
 <%= link_to get_label('back'), :action => 'back' %>
</div>
