<div class="supported_formats">
Curriculum en otros formatos:   <%=  link_to(image_tag('txt.png', :border => 0, :alt => '[text]'),   {:action => 'as_text'}, {:target => '_new'} ) %>
                                                      <%=  link_to(image_tag('pdf.png', :border => 0, :alt => '[pdf]'),   {:action => 'as_pdf' }, {:target =>'_new'}) %>
</div>
<hr/>
<%=@html  %>
