= text_field :autocomplete, :institution_name, :size => 20, :autocomplete =>"off"
= link_to content_tag(:span, '', :class => 'ui-button-icon-primary ui-icon ui-icon-plus') , '#', :title => 'Agregar institución nueva', :remote => true, :class => "ui-button ui-button-icon ui-widget ui-state-default ui-corner-all", :id => 'new_institution'
