=raw "var hidden = $('#user_jobposition_attributes_institution_id');"
=raw "hidden.val(#{@institution.id});"
=raw "$('#institution_name').html('#{@institution.name}');"
=raw "$('#dialog').dialog('close');"