%h3=t('.title')
= simple_form_for(@institution, :remote => true, :html => {:id => 'new_record_form', 'data-class-name' => 'institution'}) do |f|
  = render :partial => 'form', :locals => { :f => f}
  #dialog_submit_buttons
    = f.submit t(:save), :data => { confirm: t(:new_record_confirmation) }
