<html>
<head>
  <title> <% head_title %> </title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" /> 
  <meta name="description"  content="Plataforma de informaci&oacute;n curricular SALVA" /> 
  <meta name="copyright" content="Universidad Nacional Aut&oacute;noma de M&eacute;xico" />
  <link rel="icon" href="/images/favicon.ico" />
  <%= stylesheet_link_tag "form", "administration", "ligthbox" %>
  <%= javascript_include_tag "prototype", "effects", "dragdrop", "controls", "typo", "salva", "overlib" %>
</head>
<body style="border:0px; padding:0px; margin:0px;">
<div id="topbar">
Usuario: <span class="user"><%= logged_user %></span>| 
<a href="<%= help_link %>" target="_new"> Ayuda</a> | 
<a href="<%= logout_link %>" target="_top">Salir</a> | 
<a href="<%= sendbug_link %>"> Informe de errores</a> 
</div>
<div id="site">
<a href="<%= get_cfg('institution_url') %>" target="_new"> <%= get_cfg('institution_name') %></a>
</div>
<div id="title">
<img src="/images/<%= title_icon %>" border="0" align="middle">
<%= title %>
</div>
<div class="box">
  <p style="color: green"><%= flash[:notice] %></p> 
<%= @content_for_layout %>
</div>
</body>
</html>
