<html>
<head>
  <title> <% head_title %> </title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" /> 
  <meta name="description"  content="Plataforma de informaci&oacute;n curricular SALVA" /> 
  <meta name="copyright" content="Universidad Nacional Aut&oacute;noma de M&eacute;xico" />
  <link rel="icon" href="/images/favicon.ico" />
  <%= stylesheet_link_tag 'form', 'administration', 'ligthbox', 'ajax_scaffold', :media => 'all' %>
  <%= javascript_include_tag 'prototype', 'scriptaculous', 'effects', 'dragdrop', 'controls', 'typo', 'salva', 'overlib', 'rico_corner', 'ajax_scaffold', 'zebda' %> 
</head>
<body>
<div class="site">
<a href="<%= get_cfg('institution_url') %>" target="_new"> <%= get_cfg('institution') %></a>
</div> <!-- /site -->
<div class="container">
<div class="container_border">
   <div class="topbar">
	<img src="/images/logo_salva.png" border="0" > 
	 PLATAFORMA DE INFORMACI&Oacute;N CURRICULAR
   </div> <!-- /topbar -->
   <div class="toplinks"> 
   <%= get_label('login') %>: <span class="logged_user"><%= logged_user%> </span> |
   <%= link_to('Ayuda', { :controller => 'help' })%> | 
   <%= link_to('Salir', { :controller => 'user', :action => 'logout'}) %> |
   <a href="http://www.salva.unam.mx/cgi-bin/trac.cgi/newticket" target="_new"> Soporte técnico </a>
   </div> <!-- /toplinks -->
   <div class="title">
   <%= navbar_icons %> <%= title %>
   </div> <!-- title -->
   <div class="navbar">
    Men&uacute; de navegaci&oacute;n: <%= render :partial => '/salva/navbar' %>
   </div> <!-- /navbar -->
   <div class="formbox">
     <%= @content_for_layout %>
   </div> <!-- /formbox -->
</div> <!-- /container_border -->
</div> <!-- /container -->
</body>
</html>
