<html>
<head>
  <title> <% head_title %> </title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" /> 
  <meta name="description"  content="Plataforma de informaci&oacute;n curricular SALVA" /> 
  <meta name="copyright" content="Universidad Nacional Aut&oacute;noma de M&eacute;xico" />
  <link rel="icon" href="/images/favicon.ico" />
  <%= stylesheet_link_tag "form", "administration", "ligthbox" %>
  <%= javascript_include_tag "prototype", "effects", "dragdrop", "controls", "typo", "salva", "overlib" %>
</head>
<body>
<div id="site">
<a href="<%= get_cfg('institution_url') %>" target="_new"> <%= get_cfg('institution') %></a>
</div>

<div class="rbroundbox">
 <div class="rbtop"><div></div></div>
  <div class="rbcontent">
   <div class="topbar">
	<img src="/images/logo_salva.png" border="0" align="middle"> 
	 PLATAFORMA DE INFORMACI&Oacute;N CURRICULAR
   </div>
   <div id="title">
   <%= navbar_icons %> <%= title %>
    </div>
   <div id="navbar">
     <%= render :partial => '/salva/navbar' %>
   </div>
  <div class="box">
   <p style="color: green"><%= flash[:notice] %></p> 
   <%= @content_for_layout %>
   </div>
  </div><!-- /rbcontent -->
 <div class="rbbot"><div></div></div>
</div><!-- /rbroundbox -->
</body>
</html>
