#thesismodality.row
  .span-9
    %label
      %abbr="*"
      = 'Modalidad'
    - model_name = params[:model_name] || 'thesis'
    = collection_select model_name, :thesismodality_id, @thesismodalities, :id, :name, {:prompt => true, :selected => @thesismodalities.first.id}, :class => "chosen-select"
