<%= start_form_tag :action => 'deny', :id =>@record.id %>
<h2><%= @record.document.documenttype.name+' '+@record.document.title %></h2>
<b>Para:</b> <%= @record.user.person.fullname %><br/>
<b>Comentarios:</b><br/>
<div class="row">
<%= text_area 'edit', 'message', 'rows' => 4, 'cols' => 40, 'tabindex' => 1, 'id' => 'message' %>
</div>
  <div id="operations">
  <%= submit_tag 'Enviar comentarios' %> | <%= link_to get_label('back'), :action => 'list' %>
 </div>
<%= end_form_tag %>
