<%= error_messages_for 'edit' %>

<!--[form:state]-->

<div class="row"> 
<label for="name" class="label"><%= salva_column('name') %></label> 
<%= text_field 'edit', 'name' %>
</div>

<div class="row"> 
<label for="code" class="label"><%= salva_column('code') %></label> 
<%= text_field 'edit', 'code' %>
</div>

<div class="row"> 
<label for="country_id" class="label"><%= salva_column('country_id') %></label> 
<%= table_select('edit', Country) %> 
</div>

<!--[eoform:state]-->

