#submit_buttons.span-8.push-1.prepend-10.last
  = link_to t(:download_pdf), user_resume_path(:format => 'pdf'), :target => '_blank'
  = link_to t(:download_rtf), user_resume_path(:format => 'rtf'), :target => '_blank'