%tr{:class => "filter_header", :id => "filter_header"}
  %th{:class => 'ui-state-default', :style => 'width: 800px;'}
    %div{:class => 'span-6'}='Informe anual de actividades'
  %th{:class => 'ui-state-default', :style => 'width: 130px;'}
    =t(:show)
