#submit_buttons.span-10.push-1.prepend-7.last
  = link_to t(:preview_pdf), user_annual_report_path(:year => params[:year], :format => 'pdf'), :target => '_blank'
  = link_to t(:send_annual_report), deliver_user_annual_report_path(:year => params[:year]), :confirm => '¿ Desea enviar su informe anual ?'
  = link_to t(:cancel), user_annual_reports_path
