%tbody{:id =>'collection'}
  = render :partial => 'genericworkstatus', :collection => @genericworkstatuses
  = render :partial => 'collection_footer'
%tfoot{:id => 'paginator'}
  %tr
    %th
      = will_paginate @genericworkstatuses, :id => 'ajaxed_paginator'
