%div{ :class => 'span-14 section_left last' }
  %h3= t('genericworkstatuses.show.title')
  - show_for @genericworkstatus do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_genericworkstatus_path(:id => @genericworkstatus.id)
  = link_as_button t(:back), admin_genericworkstatuses_path
