<!--[list:user_regularcourse]-->
<%= table_array(@collection, { :header => "Título", :columns =>
[['regularcourse_id', 'title'], 'roleinregularcourse_id' ] }) %> 
<!--[eoflist:user_regularcourse]-->

