%div{ :class => 'span-8 last' } 
  = render :partial => "/shared/errors", :object => f.object.errors

= f.input :name, :as => :text, :input_html => { :size => '40x2' }, :wrapper_class => 'span-8 last' 

= f.input :descr, :as => :text, :input_html => { :size => '40x3' }, :wrapper_class => 'span-8 last' 
