%div{ :class => 'span-14 section_left last' }
  %h3= t('roleinseminaries.show.title')
  - show_for @roleinseminary do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_roleinseminary_path(:id => @roleinseminary.id)
  = link_as_button t(:back), admin_roleinseminaries_path
