**********************************************************************
*                Este es un reporte automático                       *
*                       NO HAGA REPLY                                *
**********************************************************************

Su informe anual de actividades se ha enviado a su responsable académico.

Una vez que sea aprobado se enviará automáticamente a la Secretaría
Académica,  en caso contrario, usted recibirá por este medio las indicaciones
para realizar los cambios pertinentes.

Gracias por usar la Plataforma de Información Curricular - SALVA.

<%= @institution %>

======================================================================
