<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=iso-8859-1">
	<TITLE>Acerca del Salva la Plataforma de informaci&oacute;n curricular</TITLE>
	<META NAME="CREATED" CONTENT="20041108;17005700">
	<META NAME="CHANGED" CONTENT="20041108;17052400">
	<link type="text/css" rel="stylesheet" href="/themes/default/style/index.css">
	<link rel="icon" href="/themes/default/images/favicon.ico">
</HEAD>
<BODY>

<div id="head">
	<a href="http://www.fisica.unam.mx" target="_new">Instituto de F&iacute;sica - UNAM </a>
</div>

<div id="container"> 
<div id="topbar"> <!-- topbar: background for the options and tools bars -->
<div class="toolbar"> <!-- toolbar:  containing the tools and options bars -->
  <!-- Bar for another websites: conacyt, scienti, etc -->
  <div class="left_toolbar"></div>
  <div class="center_toolbar">
     <div id="scienti">
     <a href="http://www.scienti.net/html/es/home.html" target="_new"> 
     <img src="/themes/default/images/scienti_off.gif" border="0" alt="[ScienTi]"> 
     </a>
    </div>
  </div>
  <div class="center_toolbar">
    <div id="conacyt">
     <a href="http://www.conacyt.mx"  target="_new">
     <img src="/themes/default/images/conacyt_off.gif" border="0" alt="[Conacyt]"> 
     </a>
    </div>
  </div>
  <div class="center_toolbar">
    <div id="presidencia">
     <a href="http://www.presidencia.gob.mx"  target="_new">
     <img src="/themes/default/images/presidencia_off.gif" border="0" alt="[Presidencia de M&eacute;xico]"> 
     </a>
    </div>
  </div> 
  <div class="right_toolbar"></div>
  <!-- End of this section-->

  <div class="options"> <!-- options: used for the options of the system -->
    <a href="/templates/index.html">&nbsp;&nbsp;&nbsp;&nbsp;Entrar al sistema&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a href="/templates/docs/index.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Documentaci&oacute;n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <span class="on"><a href="/templates/about.html">&nbsp;&nbsp;&nbsp;Acerca del SALVA&nbsp;&nbsp;&nbsp;</a></span>
  </div> <!-- End for options -->
</div> <!-- End for toolbar -->
</div><!-- End of topbar -->

<div class="formgradient"> <!-- form: used for the form or content of this page -->
 <div class="treebox">
  <div class="whitetitle"> S A L V A </div>
    <div class="whitelink">
    <a href="/Login/">Entrar al sistema</a>
    <a href="/AddUser/">Crear cuenta</a>
    </div>
 </div>
</div> <!-- End for the form -->
</div> <!-- End for the container -->
</BODY>
</HTML>
