<a name="goals"></a>
<h2>Objetivos</h2>
<ul>

<li>
El SALVA  tiene como objetivo principal servir como plataforma para
recolectar la producci&oacute;n del personal de investigaci&oacute;n
y acad&eacute;mico de cada dependencia de la UNAM.
</li> <br/>

<li>
El SALVA debe ofrecer los mec&aacute;nismos &oacute;ptimos para ayudar al
usuario a mantener la informaci&oacute;n de su curriculum actualizada.
</li> <br/>

<li>
El SALVA debe activar los servicios necesarios ofrecer interoperabilidad con plataformas
tecnol&oacute;gicas pertenecientes a otras dependencias y organizaciones como: <br/> <br/> 
<ul> 
<li> <a href="http://www.cic-ctic.unam.mx/" target="_new">CIC-CIT</a> </li>
<li> <a href="http://dgpa.unam.mx" target="_new">DGPA</a> </li>
<li> <a href="http://www.dgp.unam.mx" target="_new">DGP</a> </li>
<li> <a href="http://www.aries.unam.mx" target="_new">ARIES</a></li>
<li> <a href="http://www.conacyt.mx" target="_new">ConaCyT</a/> </li>
<li> <a href="http://www.scienti.net/html/es/home.html" target="_new">ScienTi</a> </li>
<li> <a href="http://cys.bvsalud.org/cvlac/e/homepage.htm" target="_new">CVLaC</a> </li>
<li> <a href="http://www.conacyt.mx/sinecyt/index.html" target="_new">Sinecyt</a> </li>
<li> <a href="http://www.siicyt.gob.mx/jsp/index.jsp" target="_new">SIICYT</a> </li>
<li> <a href="http://scholar.google.com/ "target="_new"> GoogleSchoolar</a> </li>
<li> <a href="http://citeseer.ist.psu.edu/" target="_new"> CiteSeer</a> </li>
<li> ...</li>
</ul>
</li> <br/>

<li>
Nuestra plataforma debe contar con los mec&aacute;nismos necesarios para usar los
datos de otros sistemas de informaci&oacute;n ya existentes en cada
dependencia como pueden ser: <br/> <br/>
<ul>
<li>Sistemas de informaci&oacute;n escolar</li>
<li>Inventarios</li>
<li>Presupuestos</li>
<li>N&oacute;mina</li>
<li>...</li>
</ul>
</li><br/>

<li>
El SALVA debe ayudar a obtener resultados &uacute;tiles para la toma de
decisiones, bas&aacute;ndose en los indicadores de producci&oacute;n est&aacute;ndar
como son: los factores de imp&aacute;cto, el n&uacute;mero de citas de una
publicaci&oacute;n  o par&aacute;metros de uso exclusivo en la UNAM y
sus dependencias.
</li><br/>

<li>
EL Salva ofrece la funcionalidad para realizar an&aacute;lisis cualitativos
y cuantitativos  de la producci&oacute;n de su dependencia.
</li><br/>


<li>
EL salva busca reducir costos de desarrollo y evitar la
dependencia tecnol&oacute;gica en productos propietarios, por lo tanto
su desarrollo se realiza usando tecnolog&iacute;a libre y
apeg&aacute;ndonos a est&aacute;ndares abiertos.
</li><br/>


<li>
Adem&aacute;s el SALVA se distribuye sin costo alguno, usando un
esquema de licenciamiento libre, que permite compartir el
c&oacute;digo sin restricciones de licenciamiento 
entre las dependencias de la UNAM y otras instituciones del
pa&iacute;s.
</li>
</ul>

