<a name="support"></a>
<h2>Soporte t&eacute;cnico</h2>
<p>
Varios  desarrolladores y consultores han contribuido con extensiones
o con soporte t&eacute;nico al proyecto y nos han informado de que
pueden ofrecer los servicios de asesoría y consultoría que ellos
mismos les indiquen. 
</p>
<p>
Por favor, contactelos de forma directa.
</p>
<ul>
<li>
<a href="http://www.bsdcoders.org/~alex/" target="_new">Alejandro Ju&aacute;rez</a>
</li>
<li>
<a href="http://www.gwolf.org/" target="_new">Gunnar Wolf</a>
</li>
</ul>

