[submodule "vendor/plugins/calendar_date_select"]
	path = vendor/plugins/calendar_date_select
	url = git://github.com/timcharper/calendar_date_select.git
[submodule "vendor/plugins/shoulda"]
	path = vendor/plugins/shoulda
	url = git://github.com/thoughtbot/shoulda.git
[submodule "vendor/plugins/better_nested_set"]
	path = vendor/plugins/better_nested_set
	url = git://github.com/chris/better_nested_set.git
[submodule "vendor/plugins/acts_as_tree"]
	path = vendor/plugins/acts_as_tree
	url = git://github.com/rails/acts_as_tree.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/rails"]
        path = vendor/rails
        url = git://github.com/rails/rails.git
[submodule "vendor/plugins/localized_dates"]
	path = vendor/plugins/localized_dates
	url = git://github.com/clemens/localized_dates.git
