config/database.yml
config/site.yml
config/mail.yml
db/*
!db/migrate
!db/catalogs
!db/load_catalogs.sql
tmp/*
log/*
*~
semantic.cache
.#*
.svn
.svn/*
\#*
coverage
.DS_Store
._*
.autotest*
!vendor/plugins/acts_as_dependent_mapper
.bundle
.idea/*
.idea*
nbproject
.sass-cache
public/stylesheets/application.css
public/stylesheets/ie.css
public/stylesheets/print.css
public/stylesheets/screen.css
public/uploads
uploads
solr/
vendor/plugins/acts_as_solr_reloaded/
vendor/plugins/acts_as_tagged_search/
index/
