lib/remote_user.rb
config/database.yml
config/site.yml
config/mail.yml
config/database.yml
config/ldap.yml
config/resque.yml
config/aleph.yml
config/github.yml
config/deploy.rb
config/newrelic.yml
db/*
!db/seeds.rb
!db/data
!db/migrate
!db/catalogs
!db/load_catalogs.sql
tmp/*
log/*
*~
semantic.cache
.#*
.svn
.svn/*
\#*
coverage
.DS_Store
._*
.autotest*
!vendor/plugins/acts_as_dependent_mapper
.bundle
.idea/*
.idea*
nbproject
.css-cache
app/files/*
app/assets/javascripts/simile-widgets/*
public/stylesheets/application.css
public/stylesheets/ie.css
public/stylesheets/print.css
public/stylesheets/screen.css
public/stylesheets/navigation.css
public/uploads
public/stylesheets/base.css
public/stylesheets/collection_list.css
public/stylesheets/devise.css
public/stylesheets/form.css
public/formstylesheets/session.css
public/stylesheets/user_menu.css
public/stylesheets/start-jquery-ui.css
uploads
solr/
vendor/plugins/acts_as_solr_reloaded/
vendor/plugins/acts_as_tagged_search/
index/
.bundle
vendor/bundle
.rspec
public/stylesheets/web_site_base.css
public/stylesheets/chosen.css
app/assets/stylesheets/application_base.css
app/assets/stylesheets/base.css
app/assets/stylesheets/chosen.css
app/assets/stylesheets/collection_list.css
app/assets/stylesheets/devise_base.css
app/assets/stylesheets/form.css
app/assets/stylesheets/ie.css
app/assets/stylesheets/print.css
app/assets/stylesheets/screen.css
app/assets/stylesheets/start-jquery-ui.css
app/assets/stylesheets/user_menu.css
app/assets/stylesheets/user_resources_base.css
app/assets/stylesheets/web_site_vase.css
app/assets/stylesheets/publications_vase.css
app/assets/stylesheets/home_page.css
app/assets/javascripts/base.js
app/assets/javascripts/collection.js
app/assets/javascripts/document.js
app/assets/javascripts/nested_form.js
app/assets/javascripts/place.js
app/assets/javascripts/supported_browsers.js
app/assets/javascripts/session.js
app/assets/javascripts/document_publication.js
app/assets/javascripts/document_academic.js
app/assets/javascripts/document_website.js
app/assets/javascripts/thesis.js
app/sass/.sass-cache/
.sass-cache/
public/assets/
app/assets/stylesheets/academic_base.css
_mac
*.xml
._.DS_Store
node_modules/
