<% if section[:collection].count > 0 %>
<h2><%= ActiveSupport::Inflector.humanize(section[:title]) %></h2>
<ul>
  <%= render :partial => 'record', :collection => section[:collection] %>
</ul>

<% end %>
