<!--[show:chapterinbook_roleinchapter]-->
<%= render :partial => "chapterinbook_roleinchapter/show" %>
 <%= render :partial =>"salva/moduser" %> 
<div id="operations">
 <%= link_to get_label('edit'), :action => 'edit', :id =>  @edit.attributes_before_type_cast['id'] %> |
 <%= back_from_show %>
</div>
<!--[eofshow:chapterinbook_roleinchapter]-->

