<!--[form:bookedition_roleinbook]-->
<p><label for="bookedition_roleinbook">Indique la actividad que realizo en est&a edici&oacute;n</label><br/>
<%= check_box_group('edit', Roleinbook) %> </p>
<!--[eoform:bookedition_roleinbook]-->

