<%= error_messages_for 'edit' %>

<%= render :partial => 'salva/filter_bookedition' %>

<div class="row">
  <label for="bookedition_roleinbook">Indique la actividad que
realizó en esta edición</label>
<div id="roleinbook_id">
<%= simple_select('edit', Roleinbook, 2) %>
</div>

</div>
<!--[eoform:bookedition_roleinbook]-->

