<%= table_list(@collection, { :header => "Título", :columns => %w(book_id bookedition_id roleinbook_id) }) %>


<br/>
<%= link_to 'Agregar '+get_label('bookeditionroleinbook'), :action => 'new' %>
<%= link_to 'Seleccionar '+get_label('book'), :action => 'new' %>
