<%= table_show(BookeditionRoleinbook.columns) %>
<%= render :partial =>"salva/moduser" %>
<%= link_to 'Editar', :action => 'edit', :id => @bookedition_roleinbook %> |
<%= link_to 'Regresar', :action => 'list' %>
