.dialog-section-with-border-and-bg
  .row
    = f.input :name, :as => :string, :input_html => { :size => 38, :required => true }

  .row
    = f.label :institution, :required => true
    = f.collection_select :institution_id, Institution.for_schoolarships, :id, :name_and_parent_abbrev, {:prompt =>true}, {:class => 'chosen-select'}
