%div{ :class => 'span-8 last' } 
  = render :partial => "/shared/errors", :object => f.object.errors


= f.input :title, :as => :string, :input_html => { :size => 20 }, :wrapper_class => 'span-8 last' 


= f.input :startdate, :as => :string, :input_html => { :size => 10, :class => 'date' }, :wrapper_class => 'span-8 last' 


= f.input :enddate, :as => :string, :input_html => { :size => 10, :class => 'date' }, :wrapper_class => 'span-8 last' 

