<!--[list:user_course]-->
<%= table_list(@collection, { :header => "Título", :columns => %w(course_id roleincourse_id ) }) %> 
<br/>
<div id="operations">
<%= link_to get_label('add'), :action => 'new' %> 
</div>
<!--[eoflist:user_course]-->
<%= navcontrol %>
