<!--[list:user_course]-->
<%= table_list(@collection, { :header => "Título", :columns => %w( roleincourse_id country_id courseduration_id modality_id year ) }) %> 
<br/>
<div id="operations">
<%= link_to get_label('add'), :action => 'new' %> |
<%= link_to get_label('back'), {:controller => 'navigator', :depth => 0} %>
</div>
<!--[eoflist:user_course]-->

