<!--[show:user_course]-->
<%= render :partial => "user_course/show" %>


<div id="operations">
 <%= link_to get_label('edit'), :action => 'edit', :id =>  @edit %> |
 <%= link_to get_label('back'), :action => 'list' %>
</div>
<!--[eofshow:user_course]-->

