<!--[show:userstatus]-->
<%= render :partial => "userstatus/show" %>
<div id="operations">
 <%= link_to get_label('edit'), :action => 'edit', :id =>  @edit %> |
 <%= link_to get_label('back'), :action => 'back' %>
</div>
<!--[eofshow:userstatus]-->

