<!--[show:project]-->
<%= render :partial => "project/show" %>
<%= render :partial =>"salva/moduser" %> 
<div id="operations">
 <%= link_to get_label('edit'), :action => 'edit', :id =>  @edit %> |
 <%= back_from_show %>
</div>

<%= children_list(@edit, @children) if @children != nil %>
<!--[eofshow:project]-->

