
<% 
   current = 0
   for row in @list 
%>
<% @edit = row %>
  <%= get_label(Inflector.tableize(@edit.class.name)) %> <%= link_to 'Modificar', :action => 'edit', :current => current %>
  <br/>
  <%= render :partial => Inflector.underscore(@edit.class.name)+'/show' %>
  <br/>
<% 
  current += 1
  end 
%>

<table width="100%">
<tr>
<td align="left">
<%= link_to 'Guardar', :action => 'finalize' %>
</td>
<td align="right">
<%= link_to get_label('back'), :action => 'back' %>
</td>
</tr>
</table>

