.row
  = f.input :name, :as => :text, :input_html => { :size => '120x1' }

.row
  = f.input :name_en, :as => :text, :input_html => { :size => '120x1' }

.row
  = f.input :descr, :as => :text, :input_html => { :size => '120x1' }

.row
  #research_area.span-18.last

