%tbody{:id =>'collection'}
  = render :partial => 'record', :collection => @seminaries
  = render :partial => 'collection_footer'
%tfoot{:id => 'paginator'}
  %tr
    %th
      = will_paginate @seminaries, :id => 'ajaxed_paginator'