.role_list

  .span-6.last
    %b=t(:role_selection)
    = link_to_close_author_list

  .span-6.last
    %ul
      - Roleinseminary.not_attendee.each do |record|
        %li= link_to record.name, '#', 'data-remote-resource' => add_user_seminary_path(:id => @seminary.id, :roleinseminary_id => record.id, :format => :js)
