%div{ :class => 'span-14 section_left last' }
  %h3= t('techproductstatuses.show.title')
  - show_for @techproductstatus do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_techproductstatus_path(:id => @techproductstatus.id)
  = link_as_button t(:back), admin_techproductstatuses_path
