<!--[show:edition]-->
<%= render :partial => "edition/show" %>


<div id="operations">
 <%= link_to get_label('edit'), :action => 'edit', :id =>  @edit %> |
 <%= back_from_show %>
</div>
<!--[eofshow:edition]-->

