<div class="notes">
<p>Su cuenta <span style="color:green;"><%= @user.login %></span> ha sido activada!</p>
<p>Gracias por usar SALVA - Plataforma de Información Curricular!</p>
</div>
<hr/> 
<div class="notes">Para entrar al sistema presione <%= link_to 'aquí', :action => 'index' %>.</div>

