<h1>Editing users</h1>

<%= error_messages_for :users %>

<% form_for(:users, :url => users_path(@users), :html => { :method => :put }) do |f| %>
  <p>
    <b>Login</b><br />
    <%= f.text_field :login %>
  </p>

  <p>
    <b>Passwd</b><br />
    <%= f.text_field :passwd %>
  </p>

  <p>
    <b>Email</b><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', users_path(@users) %> |
<%= link_to 'Back', users_path %>