<div id="login">
<div class="notes">
<img src="/images/dialog-info.png" border="0" alt="*" ALIGN="bottom"> Su sesión en el salva ha terminado...
<p>Gracias por usar SALVA - Plataforma de Información Curricular!</p>
<%= link_to 'Iniciar sesión', {:action => 'index'}, {:style=> 'color:blue;'} %>
</div>

</div>
