<!--[list:jobposition_log]-->
<%= table_list(@collection, { :header => "Título", :columns => %w( worker_key years ) }) %> 
<br/>
<div id="operations">
<%= link_to get_label('back'), {:controller => 'navigator', :depth => 0} %>
</div>
<!--[eoflist:jobposition_log]-->
<%= navcontrol %>


