<!--[show:grant]-->
<%= render :partial => "grant/show" %>

 <%= render :partial =>"salva/moduser" %> 
<div id="operations">
 <%= link_to get_label('edit'), :action => 'edit', :id =>  @edit %> |
 <%= link_to get_label('back'), :action => 'list' %>
</div>
<!--[eofshow:grant]-->

