<%= error_messages_for 'edit' %>

<div class="row">
 <label for="researcharea_id" class="label"><%= get_label('researcharea_id') %></label>
 <%= simple_select('edit', Researcharea, 1) %>
 <%= submit_for_stack('researcharea') %>
</div>

<%= observe_select('researcharea_id', 'select_resercharea_researchline', 1) %>


<!--[form:user_researchline]-->

<div class="row">
<label for="researchline_id" class="label"><%= get_label('researchline_id') %> <span class="required">*</span></label>
   <div id="select_researcharea_researchline">
     <%= observable_select('select_researcharea_researchline', 1, 2) %>
   </div>
   <%= submit_for_stack('researchline:researcharea_id') %>
</div>



<!--[eoform:user_researchline]-->

