<%= error_messages_for 'userconference' %>

<!--[form:userconference]-->
<%= hidden_field('userconference', 'roleinconference_id', :value => Roleinconference.find_by_name('Asistente').id ) %>
<!--[eoform:userconference]-->

