<%= error_messages_for 'edit' %>

<!--[form:userconference]-->
<div class="row"> 
<label for="conference_id" class="label"><%= get_label('conference_id') %> <span class="required">*</span></label> 
<div id="conference_id">
<%= select_as_tree('edit', Conference, %w(name conferencetype_id year), 1, 1) %>
</div>
  <%= image_submit_tag('/images/add.gif', {:name => 'stack', :value => 'conference'}) %> 
</div>


<!--[eoform:userconference]-->

