<!--[show:userconference]-->
<%= render :partial => "userconference/show" %>


<div id="operations">
 <%= link_to get_label('edit'), :action => 'edit', :id =>  @edit %> |
 <%= back_from_show %>
</div>
<!--[eofshow:userconference]-->

