<img src="<%= url_for(:action => "photo") %>"/>
<p>
<% for column in Personal.content_columns 
     if !column.name.match(/^photo|dbtime|moduser_id/) then
%>
  <b><%= salva_column(column.name) %>:</b> <%= @edit.send(column.name)  %>
<br/>
<%   end
   end
%>
<b>Información registrada por el usuario: </b> <%= db_moduser(@edit.send('moduser_id')) %>
<br/>
<b> Fecha y hora de registro: </b> <%= @edit.send('dbtime') %>
<br/>
