<!--[list:user_seminary]-->
<%= table_list(@collection, { :header => "Título", :columns => %w( seminary_id roleinseminary_id ) }) %> 
<br/>
<div id="operations">
<%= link_to get_label('add'), :action => 'new' %> |
<%= link_to get_label('back'), {:controller => 'navigator', :depth => 0} %>
</div>
<!--[eoflist:user_seminary]-->

