En el año <%= Date.today.year %> pretendo cumplir las siguientes actividades

1) Realizar tareas técnicas de mi especialidad, desarrollos tecnológicos, servicios y mantenimiento.

2) Participar en actividades de superación académica, cursos de actualización y capacitación.

3) Participar en la elaboración de publicaciones, ya sea como autor, coautor o como apoyo a las tareas de investigación que se realizan en el 
Instituto.

4) Involucrarme en asesorias y tareas de docencia.

