<div id="state" style="display:none;position:absolute;">
 <%= render :partial => "/salva/quickpost", 
            :locals => {:controller => 'credential', :title => 'Estados',
	                :partial => 'select_credential', 
			:attrdiv_id => credential_id'
			} 
			%>

</div>

