<!--[list:schooling]-->
<%= table_list(@collection, { :header => "Título", :columns => %w( institutioncareer_id startyear is_titleholder ) }) %> 
<br/>
<div id="operations">
<%= link_to get_label('add'), :action => 'new' %>
</div>
<!--[eoflist:schooling]-->
<%= navcontrol %>
