<%= error_messages_for 'edit' %>

<!--[form:user_bookedition]-->

<div class="row"> 
<label for="roleinbook_id">roleinbook_id</label> 
<div id="Roleinbook">
<%= table_select('edit', Roleinbook) %> 
<div>
</div>

<div class="row"> 
<label for="other">other</label> 
<%= text_field 'edit', 'other' %>
</div>


<!--[eoform:user_bookedition]-->

