<a name="History"></a>
<h2> Antecedentes </h2>
<p>
Durante a&ntilde;os, la <a href="http://www.unam.mx"target="_new">
Universidad Nacional Aut&oacute;noma de M&eacute;xico</a> a 
trav&eacute;s de diferentes entidades ha intentado  recolectar la 
informaci&oacute;n referente al curriculum del personal de
investigaci&oacute;n  y acad&eacute;mico de los institutos, 
facultades y escuelas.
</p>
<p>
El acopio de esa informaci&oacute;n se ha realizado con el objetivo de
obtener datos &uacute;tiles para la realizar an&aacute;lisis cualitativos y 
cuantitativos de la producci&oacute;n en cada dependencia.
</p>
<p>
Los medios para obtener esa informaci&oacute;n han inclu&iacute;do formas
tan variadas como simples formularios impresos hasta sistemas
desarrollados a la medida de las necesidades de cada dependencia.
</p>
<p>
La mayor&iacute;a los medios de acopio de informaci&oacute;n comparten 
los siguientes puntos en com&uacute;n:
</p>
<ul>
<li>
Sirven como herramienta para recolectar la informaci&oacute;n  curricular.
</li>
<li>
La informaci&oacute;n es usada para representar los avances en las &aacute;reas de
investigaci&oacute;n y de trabajo de cada dependencia.
</li>
<li>
La informaci&oacute;n se integra a diferentes reportes correspondientes 
a dependencias de la UNAM y otras organizaciones 
( 
<a href="http://www.cic-ctic.unam.mx/" target="_new">CIC</a>,  
<a href="http://dgpa.unam.mx" target="_new">DGPA</a>, 
<a href="http://www.dgp.unam.mx" target="_new">DGP</a>, 
<a href="http://www.aries.unam.mx" target="_new">ARIES</a>,
<a href="http://www.conacyt.mx" target="_new">ConaCyT</a/>, 
<a href="http://www.scienti.net/html/es/home.html" target="_new">ScienTi</a>, 
<a href="http://cys.bvsalud.org/cvlac/e/homepage.htm" target="_new">CVLaC</a>, 
<a href="http://www.conacyt.mx/sinecyt/index.html" target="_new">Sinecyt</a>, 
<a href="http://www.siicyt.gob.mx/jsp/index.jsp" target="_new">SIICYT</a>, 
<a href="http://scholar.google.com/ "target="_new"> GoogleSchoolar</a>, 
<a href="http://citeseer.ist.psu.edu/" target="_new"> CiteSeer</a>; 
etc ).
</li>
</ul>

<p>
Pero la diversidad de los medios y m&eacute;todos empleados 
para obtener nformaci&oacute;n  provoca los siguientes problemas:
</p>
<ul>
<li>
La informaci&oacute;n no puede compartirse f&aacute;cilmente y de forma  
est&aacute;ndar entre las dependencias de la UNAM y hacia otras 
organizaciones.
</li>
<li>
La informaci&oacute;n normalmente esta desactualizada respecto al 
avance de las &aacute;reas y  productos cientif&iacute;cos,
acad&eacute;micos o tecnol&oacute;gicos.
</li>
<li>
No es posible formular resultados confiables referentes a la producci&oacute;n
de cada dependencia en la universidad.
</li>
</ul>

<p>
Por lo tanto, proponemos que es necesario construir una
infraestructura de sistemas orientados a la gesti&oacute;n de informaci&oacute;n
cient&iacute;fica,  acad&eacute;mica y tecnol&oacute;gica  apeg&aacute;ndonos
a est&aacute;ndares, los cuales nos permitan resolver nuestras
necesidades y  nos ayuden a compartir la informaci&oacute;n entre
dependencias y otros subsistemas con objetivos muy particulares.
</p>


<p>Volver a <a href="/user/about">Acerca del Salva</a>.</p>
