.row{:id => dom_id(article), :class =>  cycle('record-odd', 'record-even')}
  - if article.has_user_id?(current_user.id)
    = render :partial => 'associated_article', :locals => { :article => article }
  - else
    = render :partial => 'not_associated_article', :locals => { :article => article }