- if article.has_association_with_user?(current_user.id)
  = render :partial => 'associated_article', :locals => { :article => article }
- else
  = render :partial => 'not_associated_article', :locals => { :article => article }