<% if user.recent_published_articles.size > 0 %>
<h2>Published Articles</h2>
<% user.recent_published_articles.each do |record|  %>
     <%= (n +=1).to_s + '. ' + record.article.as_text %><br/>
<% end %>
<% end %>
