<% if user.recent_published_articles.size > 0 %>
<h2>Published Articles</h2>
<% n = 0%>
<% user.recent_published_articles.each do |record|  %>
<% vol_and_num = record.article.vol.to_s.strip + "(#{record.article.num.strip})" %>
<%= (n +=1).to_s + '. ' + [ record.article.authors, record.article.title, record.article.journal.name, record.article.year, vol_and_num, record.article.pages ].compact.join(', ').gsub(/\,+/, ',') %><br/>
<% end %>
<% end %>
