<div class="academic">
<img src="<%= url_for(:controller => 'public/our_people', :action => :show, :id => @record.id) %>"/>
<br/>
<%= render :partial => 'profile', :locals => {:user => @record} %>
<br/>
<%= render :partial => 'personal_sites', :locals => {:user => @record} %>
</div>
