= @user.fullname_or_email
= link_to content_tag(:span, '', :class => 'ui-button-icon-primary ui-icon ui-icon-document') , '#', :title => 'Cambiar de responsable académico', :remote => true, :class => "ui-button ui-button-icon ui-widget ui-state-default ui-corner-all",  :id => 'change_user_incharge'
