%div{:class => 'ui-widget ui-widget-content ui-corner-all userstatus_menu', :id => 'edit_status_'+ dom_id(@user)}
  %div
    %b='Cambiar status'
    %div{:class => "ui-state-default ui-corner-all", :style => 'width: 16px; margin-left: 11px; float:right;'}
      = link_to_function content_tag(:span, '', {:class =>'ui-icon ui-icon-close'}), "$('#edit_status_#{dom_id(@user)}').remove();"

  %ul{:style => 'width: 180px;', :id => 'update_status'}
    - Userstatus.all.each do |record|
      %li{:style => 'margin-left: -30px; color: green;'}
        = link_to record.name, update_status_academic_secretary_user_path(:id => @user.id, :userstatus_id => record.id, :format => 'js'), :remote => true, :style => 'color: #045FB4; font-size: 10px;', :id => @user.id