%table{:id => 'collection_table', :class => 'ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix'}
  %thead{:id => "filter_header"}
    = render :partial => 'filter_header'
  %tbody{:id =>'collection'}
    = render :partial => @users
  %tfoot{:id => 'paginator'}
    %tr
      %th= will_paginate @users

%div{ :class => 'span-24 buttons_left last' }
  = link_to 'Nuevo usuario', new_academic_secretary_user_path, :class => "ui-state-default ui-corner-all ui-button"
