
= simple_form_for @user, :url => academic_secretary_users_path, :html => { :multipart => true }do |f|
  = render :partial => 'form', :locals => { :f => f }
  %div{ :class => 'span-24 buttons_left last' }
    = f.submit  :save
    = link_to :cancel, academic_secretary_users_path, :class => "ui-state-default ui-corner-all ui-button"