.content
  .breadcrumbs
    - @charts.each do |chart|
      = high_chart(chart.options[:id],chart)

- if current_user.admin?
  #session_info
    = link_to 'Ver listado completo', admin_users_path, target: '_blank'