<%= error_messages_for 'edit' %>

<!--[form:user_prize]-->
<div class="row"> 
<label for="prize_id" class="label"><%= get_label('prize_id') %> <span class="required">*</span></label> 
<div id="prize_id">
<%= table_select('edit', Prize, 1, 1) %>
</div>
  <%= image_submit_tag('/images/add.gif', {:name => 'stack', :value => 'prize'}) %> 
</div>

<div class="row"> 
<label for="year" class="label"><%= get_label('year') %> <span class="required">*</span></label> 
<%= text_field_with_auto_complete :edit, :year, {:size =>4, :maxlength =>4, :tabindex => 2}, :skip_style => true %><br/></div>

<div class="row"> 
<label for="month" class="label"><%= get_label('month') %></label> 
<%= month_select('edit', 'month', {:tabindex => 3, :required => 0 }) %> 
</div>


<!--[eoform:user_prize]-->

