<!--[list:user_prize]-->
<%= table_list(@collection, { :header => "Título", :columns => %w( prize_id year ) }) %> 
<br/>
<div id="operations">
<%= link_to get_label('add'), :action => 'new' %>
</div>
<!--[eoflist:user_prize]-->

