<!--[show:user_prize]-->
<%= render :partial => "user_prize/show" %>

 <%= render :partial =>"salva/moduser" %> 
<div id="operations">
 <%= link_to get_label('edit'), :action => 'edit', :id =>  @edit %> |
 <%= link_to get_label('back'), :action => 'list' %>
</div>
<!--[eofshow:user_prize]-->

