<!--[show:projectgenericwork]-->
<%= render :partial => "projectgenericwork/show" %>


<div id="operations">
 <%= link_to get_label('edit'), :action => 'edit', :id =>  @edit %> |
 <%= link_to get_label('back'), :action => 'cancel' %>
</div>
<!--[eofshow:projectgenericwork]-->

