<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Published articles TL | IFUNAM</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link href="recent_publicationstl.json" type="application/json" rel="exhibit-data" />
    <script src="https://api.simile-widgets.org/exhibit/current/exhibit-api.js?bundle=true" type="text/javascript"></script>
    <script src="https://api.simile-widgets.org/exhibit/current/extensions/time/time-extension.js?bundle=true" type="text/javascript"></script>
    <!--
    <script src="/uploads/simile-widgets/src/exhibit-api.js"></script>
    <script src="/uploads/simile-widgets/src/extensions/time/time-extension.js"></script>
    <link rel="stylesheet" href="https://www.simile-widgets.org/styles/common.css" type="text/css" />
      -->
    <style>
#top-panels{
    border-top: 0;
    border-bottom: 0;
    background: #EEEEEE;
    }

div.exhibit-facet-body {
    border: none;
    height: 7em;
    overflow: auto;
}

div.exhibit-facet {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

span.exhibit-facet-header-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
}

a.exhibit-facet-value-link {
    text-decoration: none;
    color: #616161;
}

div.exhibit-facet-value-count {
    float: left;
    width: 2em;
    text-align: right;
    color: #9B9B9B;
    font-weight: bold;
}

.exhibit-facet-body::-webkit-scrollbar-track {
    background-color: #BABABA;
}

.exhibit-facet-body::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.exhibit-facet-body::-webkit-scrollbar-thumb {
    background-color: #13212E;
}


span.exhibit-collectionSummaryWidget-count {
    font-size: inherit;
}

.exhibit-collectionSummaryWidget-results{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

span.exhibit-viewPanel-viewSelection-selectedView {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: none;
}

span.exhibit-viewPanel-viewSelection-view {
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    color: #AAAAAA;
}

.exhibit-thumbnailView-group h1{
    text-align: center;
    text-transform: uppercase;
}

div.physicist-thumbnail {
    float: left;
    width: 10em;
    height: 17em;
    border: none;
    color: #535353;
    background: #EEEEEE;
    /* padding: 1em; */
    margin: 0;
    text-align: center;
    padding: 0;
}

div.exhibit-collectionView-group-content {
    margin-left: 0;
}

div.exhibit-thumbnailView-itemContainer {
    float: left;
    display: inline;
    padding-right: 25px;
    padding-bottom: 25px;
}

.physicist-thumbnail img{
    width: 9em;
    height: 9em;

}

.physicist-thumbnail a:link {
    color: #535353;
        text-decoration: none;
}

.physicist-thumbnail div{
     padding-left: 3px;
    padding-right: 3px;
}

div.exhibit-collectionView-group h1 {
    font-size: 150%;
    margin: 1em 0;
    text-align: center;
    text-transform: uppercase;
}

ol{
        list-style-type: none;
}

.exhibit-ui-protection table {
    font-size: 100%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    width: 51em;
    background-color: #EEEEEE;
    margin-bottom: 1.5em;
    color: #7A7A7A;
}

.exhibit-ui-protection table a:link {
    color: #7A7A7A;
    text-decoration: none;
}

tr, td {
    vertical-align: top;
    display: table-cell;
    }


.physicist img{
    width: 9em;
    height: 9em;
    margin-right: 10px;
}
.physicist .name{
    margin-top: 15px;
    color: #525252;
    font-size: 1.1em;
    font-weight: bold; }
    </style>

  </head>
  <!--
    <div id="header">
      <h2>Timeline de art&iacute;culos publicados</h2>
    </div>
  -->
  <body>
        <div id="top-panels">
            <table width="100%"><tr>
                <td width="15%"><div ex:role="facet" ex:expression=".year" ex:facetLabel="Año"></div></td>
                <td width="15%"><div ex:role="facet" ex:expression=".date" ex:facetLabel="Fecha"></div></td>
                <td width="25%"><div ex:role="facet" ex:facetClass="Cloud" ex:expression=".country" ex:facetLabel="PAÍS"></div></td>
                <td width="15%"><div ex:role="facet" ex:facetClass="TextSearch" ex:facetLabel="Buscar"></div></td>
            </tr></table>
        </div>

    <div id="content" style="padding-left: 3%; width: 94%;">
      <div ex:role="view"
        ex:viewClass="Timeline"
        ex:timelineHeight="600"
        ex:topBandHeight="95%"
        ex:topBandUnit="week"
        ex:bottomBandUnit="month"
        ex:showFooter=false
        ex:start=".date"
        ex:bubbleWidth="150"
        ex:bubbleHeight="150">
       <div ex:role="lens" class="nobelist-timeline-lens" style="display: none;">
         <div><strong><span ex:content=".label"></span></strong></div>
         <div><span ex:content=".authors" class="discipline"></span></div>
         <div><span ex:content=".journal" class="year"></span></div>
         <div><span ex:content=".show_date" class="year"></span></div>
         <div><span ex:content=".country" class="year"></span></div>
         <div><span><a ex:href-content=".url" target="_blank"> on line </a></span></div>
         <div>
       </div>
      </div>
    </div>
    
  </body>
</html>