<html>
<head>
  <title> <%= page_head %> : <%= controller.action_name %> </title>
  <meta http-equiv="Content-Type" content="text/html; charset=<%= charset %>" /> 
  <meta name="description"  content="<%= description %> - Plataforma de informaci&oacute;n curricular SALVA" /> 
  <meta name="copyright" content="<%= copyright %>" />
  <link rel="icon" href="<%= icon %>" />
  <%= stylesheet_link_tag style %>
</head>
<body>
<div id="topbar">
<%= user_label %>: <span class="user"><%= @user %></span>| 
<a href="<%= help_link %>" target="_new"> <%= help %></a> | 
<a href="<%= logout_link %>"><%= logout %></a> | 
<a href="<%= sendbug_link%>"> <%= sendbug %></a> 
</div>

<div id="title">
<img src="/images/<%= title_icon %>" border="0" align="middle">
<%= title %>
</div>

<div class="box">
  <p style="color: green"><%= flash[:notice] %></p> 
<%= @content_for_layout %>
</div>
</body>
</html>
