<table class="list">
  <tr>
    <th>*</th>
    <th>Reportes</th>
    <th>Acciones</th>
  </tr>
<% rowcolor = 1 %>
<% for item in @collection %>
  <tr class="<%= rowcolor == 1 ? 'odd' : 'even' %>" >
  <% rowcolor == 1 ? rowcolor = 0 : rowcolor = 1 %>
    <td class="item">
    <%= @parent_controllerx ? radio_button('edit', 'id', item[1]) : check_box_tag("item[]", item[1], checked=false)%>
    </td>
    <td><%= h(item[0]) %></td>
    <td class="link"><%= show_link(item[1]) %> <%= edit_link(item[1]) %> <%= purge_link(item[1], 'Desea borrar este elemento?') %></td>
  </tr>
<% end %>
</table>
<%= render :partial => '/salva/paginator' %>
