<div id="state" style="display:none;position:absolute;">
 <%= render :partial => "/salva/state" %>
</div>
<div id="city" style="display:none;position:absolute;">
 <%= render :partial => "/salva/city" %>
</div>
