<%= form_tag({:action=>'create'}, {:multipart => true}) %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Guardar" %>
<%= end_form_tag %>

  <div id="state" style="display:none;position:absolute;">
    <%= render :partial => "/salva/state" %>
  </div>
