<!--[list:activity]-->
<%= table_list(@collection, { :header => "Título", :columns => %w( activitytype_id name year ) }) %> 
<br/>
<div id="operations">
<%= link_to get_label('add'), :action => 'new' %> |
<%= link_to get_label('back'), {:controller => 'navigator', :depth => 0} %>
</div>
<!--[eoflist:activity]-->

