********************************************************************
*                      Este es un reporte automático               *
*                            NO HAGA REPLY                         *
********************************************************************

Su cuenta en el SALVA ha sido <<creada>>:

  Login: <%= @user.login %>
  Contraseña: ***********

Para entrar al SALVA es necesario que confirme la activación de
su cuenta usando el siguiente enlace en el navegador de su
preferencia:

<%= @url %>

Gracias por usar la plataforma de información curricular SALVA.

<%= @institution %>

====================================================================
