<%= error_messages_for 'user_conferencetalk' %>

<!--[form:user_conferencetalk]-->
<div class="row">
<label for="roleinconferencetalk_id" class="label"><%= get_label('roleinconferencetalk_id') %></label>
<div id="roleinconferencetalk_id">
<%= simple_select('user_conferencetalk', Roleinconferencetalk, 2, { :selected =>  1}) %>
</div>
</div>

<!--[eoform:user_conferencetalk]-->

