<div id="footer">
<!-- Salva Template Version: $Id$ -->

<div class="copyright">
Copyright &copy; [% IF year %] [% year %] [% END %] SALVA Plataforma de Informaci&oacute;n Curricular
</div>

[% IF ${page}.page AND version AND time AND user %]
<div class="revision"> 
$Salva: [% ${page}.page %],v  [% version %]  [% time %] [% user %] Exp $ 
</div>
[% END %]

<div class="banners">
<a href="http://validator.w3.org/check?uri=referer">
	<img src="[% images %]/valid-xhtml10.png" alt="Valid XHTML 1.0!"/>
</a>
<a href="http://jigsaw.w3.org/css-validator"> 
	<img src="[% images %]/vcss.png"  alt="Valid CSS!"/>
</a>

</div>
</div> 
</body>
</html>