<div id="search">
<div id="search_note" style="display: none"><%= get_label('advancedsearchdialog') %></div>
<% form_tag ('list') do -%>
<div class="row"> 
<label for="name" class="label"><%= get_label('name') %> <span class="required">*</span></label> 
<%= text_field_with_auto_complete :institution, :name, :limit => 50, :order => 'name, country_id, institutiontitle_id DESC', :size => 40  %>
</div>
<div id="operations">
  <%= submit_tag get_label('search') %>  |
  <%= link_to_searchdialog(get_label('advancedsearch'),'advancedsearch') %>
</div>
<% end -%>
</div>
