.span-6
  = f.input :adscription_id, :as =>:radio, :collection => Adscription.enabled, :wrapper_html => { :class => 'span-6' }

.span-11.last
  = f.input :descr, :as => :text, :input_html => {:size => '50x3'}


.span-18.last
  = f.hidden_field :id
  = f.hidden_field :jobposition_id

