.span-5
  = f.input :adscription_id, :as =>:radio, :collection => Adscription.where("id <=7").all

.span-12.last
  = f.input :descr, :as => :text, :input_html => {:size => '60x3'}


.span-18.last
  = f.input :id, :as => :hidden
  = f.input :jobposition_id, :as =>:hidden
