#collection {
    display: table;
    width: 70%;
    padding: 5px;
    border: 1px solid grey;
}

.row {
     display: table-row;
     width: 100%;
/* padding: 3px; */
/* border-bottom: 1px solid silver; */
}

.th_id {
  display: table-cell;
  font-weight: bold;
  width: 10%;
  border-bottom: 1px solid silver;
}

.th_content{
  display: table-cell;
  font-weight: bold;
  width: 70%;
  border-bottom: 1px solid silver;
}

.th_actions {
  display: table-cell;
  font-weight: bold;
  width: 20%;
  border-bottom: 1px solid silver;
}

.td_id {
  display: table-cell;
  width: 10%;
  border-bottom: 1px solid silver;
}

.td_content{
  display: table-cell;
  widtd: 70%;
  border-bottom: 1px solid silver;
}

.td_actions {
  display: table-cell;
  width: 20%;
  border-bottom: 1px solid silver;
}

.super_special_row {
   display: table-row;
  width: 100%;
  font-weight: bold;
}
/* This section is for the handling of tree */
.mytree {
	padding:0 0 0 0px;
}

.mytree li {
	padding:2 0 0 3px;
}

.outer_tree_element { 
	margin:0 0 0 5px;
}

.inner_tree_element {
	margin:5px 0 0 10px;
}

.mytree a {
	text-decoration:none; 
	font-size:13px; 
	color:black;
}

.mytree a:hover {
	background-color:lightblue;
}

.mytree label {
	font-weight:normal;
}

.highlighted {
	background-color:lightblue;
}

.normal {
	background-color:white;
}