body {
         background-color: white;
         }


a {
        text-decoration:none;
        color:#6699cc;
        font-size:12px;
        font-weight:bold;
        font-family:"Arial","Verdana","Trebuchet";
        }


a:hover {
        color: #003366;
        }


.academic {
        float: left;
        width: 240px;
        height: 240px;
        font-size:11.0pt;
        color:#20386F;
        font-family:"Arial","Verdana","Trebuchet";
        text-align:center;
        vertical-align:middle;
        }


.resume {
        float: left;
        text-align: justify;
        width: 680px;
        font-size:11.0pt;
        color:#20386F;
        font-family:"Arial","Verdana","Trebuchet";
        vertical-align:middle;
        }



.name {
        font-weight:bold;
        }