<%= error_messages_for 'user_newspaperarticle' %>

<!--[form:user_newspaperarticle]-->
<%= hidden_field('user_newspaperarticle', 'ismainauthor', :value => true) %>

<!--[eoform:user_newspaperarticle]-->

