<!--[list:user_roleingroup]-->
<%= table_array(@collection, { :header => "Usuarios", :columns => [['user', 'login', 'email'],  ['roleingroup', ['group', 'name'], ['role', 'name']]] }) %>
<!--[eoflist:user_roleingroup]-->

