%tbody{:id =>'collection'}
  = render :partial => 'record', :collection => @institutional_activities
  = render :partial => 'collection_footer'
%tfoot{:id => 'paginator'}
  %tr
    %th
      = will_paginate @institutional_activities, :id => 'ajaxed_paginator'
