<div class="box"> <!-- box -->
<div id="form"> <!-- form -->
<p style="color: green">
Su cuenta <%= @user.login %> ha sido creada!
</p>
<p>
Se ha enviado un correo a la siguiente dirección de correo electrónico:
<span style="color:blue;"><%=  @user.email %> </span>
</p>
<p>
En el correo encontrará la información con las indicaciones
para activar su cuenta y posteriormente entrar al sistema.
</p>

<p style="color: green;">
Si el correo no aparece en su buzón electrónico revise en la carpeta del <b>spam o junk</b>.
</p>

<p>Gracias por usar el sistema el SALVA!</p>
<%= link_to_remote "Regresar a inicio de sesión", :url => session_url, :method => :get %>
</div> <!-- end of form-->
</div> <!-- end of box -->
