<div class="box"> <!-- box -->
<div id="form"> <!-- form -->
<p style="color: green"><%= flash[:notice] %></p>
<%= render :partial => 'sessions/login' %>
</div> <!-- end of form-->
</div> <!-- end of box -->
</div>
