<!--[show:user_roleingroup]-->
<%= render :partial => "user_roleingroup/show" %>

<div id="operations">
 <%= link_to get_label('edit'), :action => 'edit', :id =>  @edit %> |
 <%= back_from_show %>
</div>
<!--[eofshow:user_roleingroup]-->

