.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors
  .row
    #skilltype
      = f.association :skilltype, :using => :name, :input_html  => {:class => 'chosen-select'}
      = link_to_new_record 'Agregar una skill', new_skilltype_path

  .row
    .span-8.last=f.input :descr, :as => :text, :input_html => { :size => '60x1' }

  .row
    .span-8.last= f.input :descr_en, :as => :text, :input_html => { :size => '60x1' }