%tbody{:id =>'collection'}
  = render :partial => 'record', :collection => @thesis_examinations
  = render :partial => 'collection_footer'
%tfoot{:id => 'paginator'}
  %tr
    %th
      = will_paginate @thesis_examinations, :id => 'ajaxed_paginator'