%div{:class => 'ui-widget ui-widget-content ui-corner-all author_list', :id => 'show_user_roles_'+ dom_id(@thesis_examination)}
  %div
    %b='Roles'
    %div{:class => "ui-state-default ui-corner-all", :style => 'width: 16px; margin-left: 11px; float:right;'}
      = link_to_function content_tag(:span, '', {:class =>'ui-icon ui-icon-close'}), "$('#show_user_roles_#{dom_id(@thesis_examination)}').remove();"
  %br
  %ul{:style => 'width: 240px;',:class => 'add_or_delete_author'}
    - Roleinjury.all.each do |record|
      %li{:style => 'margin-left: -30px; color: green;'}
        = link_to record.name, add_user_thesis_examination_path(:id => @thesis_examination.id, :roleinjury_id => record.id, :year => Date.today.year, :format => :js), 'data-parent-id' => dom_id(@thesis_examination)
