.role_list

  .span-6.last
    %b=t(:role_selection)
    = link_to_close_author_list

  .span-6.last
    %ul
      - Roleinjury.all.each do |record|
        %li=link_to record.name, '#', 'data-remote-resource' => add_user_thesis_examination_path(:id => @thesis_examination.id, :roleinjury_id => record.id, :year => Date.today.year, :format => :js)

