
<div id="operations"> 
<table width="100%">
<tr>
<td align="left">
<% if @set_prev %>
<%= link_to ' << Anterior', :action => 'previous_page' %>
<% end %>
</td>
<td align="right">
<% if @set_next %>
<%= link_to 'Siguiente >>', :action => 'next_page' %>
<% end %>
</td>
</tr>
</table>
</div>
