<%= error_messages_for 'chapterinbook_roleinchapter' %>

<div class="row">
<label for="bookedition_roleinbook" class="label"><%= get_label('title') %> Indique la actividad que realizó en este captítulo<span class="required">*</span></label>
<%= simple_select('chapterinbook_roleinchapter', Roleinchapter, 2) %>
</div>

<!--[eoform:chapterinbook_roleinchapter]-->

