<h1>Editando BookeditionComment</h1>

<%= start_form_tag :action => 'update', :id => @edit %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<div id="operations">
 <%= link_to get_label('edit'), :action => 'edit', :id =>  @edit %> |
 <%= link_to get_label('back'), :action => 'back' %>
</div>
