<%= table_show(BookeditionComment.columns) %>
<%= render :partial =>"salva/moduser" %>
<%= link_to 'Editar', :action => 'edit', :id => @bookedition_comment %> |
<%= link_to 'Regresar', :action => 'list' %>
