<%= table_list(@collection, { :header => "Membresía(s)", :columns => %w(descr institution_id startyear endyear) }) %>
<br/>
<div id="operations">
<%= link_to get_label('add'), :action => 'new' %> |
<%= link_to get_label('back'), {:controller => 'navigator', :depth => 0} %>
</div>
