<body>
<div id="logo">
</div>
<!-- blank page -->
<p class="msg">
<IMG SRC="/images/dialog-warning.png" align="middle" BORDER="0"> Por favor utilize el SALVA con un navegador que incluya soporte para JavaScript.
</p>
</body>


