= simple_form_for @book_chapter, :as => :book_chapter, :url => book_chapter_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:update)
    = link_to t(:cancel), book_chapter_path
