.author_list

  .span-6.last
    %b=t(:academics)
    = link_to_close_author_list

  .span-6.last
    %ul
      - @book_chapter.chapterinbook_roleinchapters.each do |record|
        %li= record.as_text
