<h2><%= get_controller_name %></h2>
<div id ="myerror_messages"></div>
<%= render :partial => 'shared/required_note' %>
  <% remote_form_for ActiveSupport::Inflector.camelize(@record.class.name).underscore.to_sym, @record, :builder =>  FormBuilder, :url => {:action =>:create} do |f| %>
  <%= render :partial =>'form', :locals => { :f => f } %>
  <p>
    <%= f.submit get_label('save') %>
  </p>
<% end %>
