%div{ :class => 'span-14 section_left last' }
  %h3= t('migratorystatuses.show.title')
  - show_for @migratorystatus do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_migratorystatus_path(:id => @migratorystatus.id)
  = link_as_button t(:back), admin_migratorystatuses_path
