<a name="#credits"></a>
<h2>Autor(es)</h2>

<p>
Los desarrolladores del proyecto son:
</p>
<ul>
<li>
<a href="http://www.bsdcoders.org/~alex/" target="_new">Alejandro
Ju&aacute;rez</a> (<a href="http://www.fisica.unam.mx" target="_new">Instituto de
F&iacute;sica</a>), autor de la primera versi&oacute;n del Salva y
principal desarrollador de la actual.
</li>
<li>
<a href="http://www.atmosfera.unam.mx/directorio/aaguilar.html" target="_new">Alejandro Aguilar Sierra</a>
(<a href="http://www.atmosfera.unam.mx/"  target="_new">Centro de Ciencias de la Atm&oacute;sfera</a>), se uni&oacute; al
proyecto a finales de 2005 y es coautor de la versi&oacute;n actual del Salva.
</li>
<li>
<a href="http://www.gwolf.org/" target="_new">Gunnar Wolf</a> (<a
href="http://www.iiec.unam.mx" target="_new">Instituto de Investigaciones
Econ&oacute;micas</a>) fue el primer colaborador ajeno al IF,
particip&oacute; en el redise&ntilde;o de la base de datos en 2005.
</li>
</ul>

<p>
Desde 2006 ha colaborado de distintas maneras la <a
href="http://www.politicas.unam.mx/" target="_new">Facultad de Ciencias
Pol&iacute;ticas y Sociales</a> y desde 2007 los institutos de <a
href="http://www.geologia.unam.mx/" target="_new">Geolog&iacute;a</a> y de <a href="http://www.geofisica.unam.mx/" target="_new">Geof&iacute;sica</a>.
</p>

<p>Volver a <a href="/user/about">Acerca del Salva</a>.</p>
