= simple_form_for @conference_talk, :as => :conference_talk, :url => conference_talk_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:update)
    = link_to t(:cancel), conference_talk_path
