.role_list

  .span-6.last
    %b=t(:role_selection)
    = link_to_close_author_list

  .span-6.last
    %ul
      - Roleinconferencetalk.all.each do |record|
        %li= link_to record.name, '#', 'data-remote-resource' => add_user_conference_talk_path(:id => @conference_talk.id, :roleinconferencetalk_id => record.id, :format => :js)
