%h3=t(".title")
= simple_form_for(@skilltype, :remote => true, :html => {:id => 'new_record_form', 'data-class-name' => 'skilltype'}) do |f|
  = render :partial => 'form', :locals => { :f => f}
  #submit_buttons
    = f.submit t(:save), :data => { confirm: t(:new_record_confirmation) }
