.row{:id => dom_id(article), :class =>  cycle('record-odd', 'record-even')}
  - if has_current_user?(article)
    = render :partial => 'associated_article', :locals => { :article => article }
  - else
    = render :partial => 'not_associated_article', :locals => { :article => article }