<div id="state" style="display:none;position:absolute;">
 <%= render :partial => "/salva/quickpost", 
            :locals => {:controller => 'state', :title => 'Estados',
	                :partial => 'select_state_city', 
			:attrdiv_id => 'country_id'
			} 
			%>
</div>


