<%= render :partial => 'salva/form_notes' %>
<%= form_tag({:action=>'update'}, {:multipart => true}) %>
<%= render :partial => 'form' %>
  <div id="operations">
  <%= submit_tag get_label('update') %> |  <%= link_to get_label('cancel'), :action => 'show' %>
  </div>
<%= end_form_tag %> 
<%= render :partial => 'quickpost' %>
<%= navcontrol %>
