<%= render :partial => 'salva/form_notes' %>
<%= form_tag({:action=>'create'}, {:multipart => true}) %>
  <%= render :partial => 'form' %>
  <div id="operations">
  <%= submit_tag get_label('save') %> |
  <%= link_to get_label('back'), {:controller => 'navigator', :depth => 0} %>
  </div>
<%= end_form_tag %>
<%= render :partial => 'quickpost' %>
