<img src="<%= url_for(:action => "photo") %>"/> 
<br/>
<%= table_show(Person.columns, { :hidden => %w(photo photo_filename photo_content_type)}) %>
<%= render :partial =>"salva/moduser" %>
<div id="operations">
 <%= link_to get_label('edit'), :action => 'edit', :id => @person %> |
 <%= link_to get_label('back'), {:controller => 'navigator', :depth => 0} %>
</div>

