<!--[list:userconference]-->
<%= table_array(@collection, { :header => "Título", :columns=> [['conference_id', 'name', 'conferencetype_id',  'year'], 'roleinconference_id'] }) %> 
<br/>
<div id="operations">
<%= link_to get_label('add'), :action => 'new' %> |
<%= link_to get_label('back'), {:controller => 'navigator', :depth => 0} %>
</div>
<!--[eoflist:userconference]-->

