<%= error_messages_for 'stimulustype' %>

<!--[form:stimulustype]-->
<div class="row">
<label for="name" class="label"><%= get_label('stimulustype') %> <span class="required">*</span></label>
<%= text_field 'stimulustype', 'name', 'size' => 30, 'maxsize'=> 40, 'tabindex'=> 1, 'id' => 'name' %>
</div>


<!--[eoform:stimulustype]-->

