<div id="controller_form">
<div id="myerror_messages"></div>
<div id="form">
<%= render :partial => 'shared/required_note' %>
<% remote_form_for Inflector.camelize(@record.class.name).underscore.to_sym, @record, :builder =>  LabellingFormBuilder, :url => {:action => :update}, :method => :put do |f| %>
  <%= render :partial =>'form', :locals => { :f => f } %>
  <p>
    <%= f.submit get_label("save") %> |
    <%= link_to_remote get_label('cancel'), :url => method("#{Inflector.camelize(@model).underscore}_path").call, :method => :get, :update => 'form' %>
  </p>
<% end %>
</div>
</div>
