<!--[list:jobpositioncategory]-->
<%= table_list(@collection, { :header => "Título", :columns => %w( jobpositiontype_id roleinjobposition_id jobpositionlevel_id ) }) %> 
<!--[eoflist:jobpositioncategory]-->

