%tr
  %td{:style => 'text-align: center;'}
  %td{:style => 'text-align: center;'}
    = link_as_button t(:delete_all_selected), '#', :class_button => 'dangerous_button', :id => 'destroy_selected_records', :data => { confirm: t(:delete_all_confirm_question) }
  - 2.times do
    %td{:style => 'text-align: center;'}
  %td{:style => 'text-align: center; width: 120px;'}
    = link_as_button  t(:show_all), '#', :remote => true, :id => 'filter_reset_all', :class_button => 'green_button'
