#table_search_form
  = form_for :search, :remote => true, :html => {:id => "filter_form"} do |f|
    .span-14="Año"
    .span-2
    .span-2.last

    .span-14.last= f.text_field :year_eq, :size => 4
    .search_button= link_to "Buscar", "#"
    .search_button.last= link_to "Todos", "#"
