<!--[show:stimulustype]-->
<%= render :partial => "stimulustype/show" %>


<div id="operations">
 <%= link_to get_label('edit'), :action => 'edit', :id =>  @edit %> |
 <%= link_to get_label('back'), :action => 'list' %>
</div>
<!--[eofshow:stimulustype]-->

