%tr{:class => "filter_header", :id => "filter_header"}
  = form_for :search, :remote => true, :html => {:id => "filter_form"} do |f|
    %th{:class => 'ui-state-default', :style => 'width: 5%;'}
      =t(:id)
    %th{:class => 'ui-state-default', :style => 'width: 65%;'}
  
      = f.collection_select :chapterinbook_id_equals, Chapterinbook.all, :id, :title
  
  
      = f.collection_select :roleinchapter_id_equals, Roleinchapter.all, :id, :name
  

      // %div{:id => 'alphabet_links'}= alphabet_links(:your_attribute_name)
    %th{:class => 'ui-state-default', :style => 'width: 10%;'}
      =t(:move)
    %th{:class => 'ui-state-default', :style => 'width: 10%;'}
      =t(:edit)
    %th{:class => 'ui-state-default', :style => 'width: 10%;'}
      =t(:del)
