<div id="career" style="display:none;position:absolute;">
 <%= render :partial => "/salva/quickpost", 
  :locals => {:controller => 'career', :title => 'Carrera', :partial => 'select_career', :attribute => 'career_id'}
  %>
</div>


