<frameset frameborder="0" framespacing="0" border="0" cols="180,*" rows="*">
 <frameset frameborder="0" framespacing="0" border="0" cols="*" rows="0,*">
 <frame marginwidth="0" marginheight="0" src="/menu/tree/" name="code" noresize scrolling="no" frameborder="0">
 <frame marginwidth="5" marginheight="5" src="/menu/tree_empty/" name="menu" noresize scrolling="no" frameborder="0">

</frameset>
<frameset frameborder="0" framespacing="0" border="0" cols="*" rows="*">
<frame marginwidth="5" marginheight="5" src="/book/list" name="text" noresize >
</frameset>
<noframes>
 <p>The <code>NOFRAMES</code> element is to be used to give useful content to people with browsers that cannot display frames.  One example is Lynx, a text-based browser.</p>
</noframes>

