<!--[list:user_thesis]-->
<%= table_array(@collection, { :header => "Tesis", :columns =>
[ ['thesis_id', 'title', 'authors', 'startyear', ['thesisstatus_id', 'name'], 'endyear'], 'roleinthesis_id'] })
%>
<!--[eoflist:user_thesis]-->

