<div class="notes">
<p>
Su cuenta <%= @user.login %> ha sido creada!.
</p>
<p>
Se ha enviado un correo a la siguiente dirección de correo electrónico:
<span style="color:blue;"><%=  @user.email %> </span>
</p>
<p>
En el correo encontrará la información con las indicaciones
para activar su cuenta y posteriormente entrar al sistema.
</p>
<p>Gracias por usar SALVA - Plataforma de Información Curricular!</p>
<%= link_to 'Regresar', :action => 'index' %>
</div>

