<div id="login">
<div class="notes">
<p>El mensaje con las instrucciones para activar su cuenta
<%= @user.login %> se ha enviado a la siguiente dirección de
 correo electrónico:
<span style="color:blue;"><%= @user.email %> </span>
</p>

<p>El tiempo de entrega del mensaje dependerá o del tráfico de la red
y de la carga del servidor de correos destino.
</p>

<p>Gracias por usar SALVA - Plataforma de Información Curricular!</p>
</div>
</div>
