%div{:class => 'ui-widget ui-widget-content ui-corner-all author_list', :id => 'show_user_roles_'+ dom_id(@book_author)}
  %div
    %b='Roles'
    %div{:class => "ui-state-default ui-corner-all", :style => 'width: 16px; margin-left: 11px; float:right;'}
      = link_to_function content_tag(:span, '', {:class =>'ui-icon ui-icon-close'}), "$('#show_user_roles_#{dom_id(@book_author)}').remove();"
  %br
  %ul{:style => 'width: 240px;',:class => 'add_or_delete_author'}
    - Roleinbook.authors.each do |record|
      %li{:style => 'margin-left: -30px; color: green;'}
        = link_to record.name, add_user_book_author_path(:id => @book_author.id, :roleinbook_id => record.id, :format => :js), 'data-parent-id' => dom_id(@book_author)
