%h3 Información General

= render :partial => 'people/record', :object => @user.person unless @user.person.nil?
= render :partial => 'addresses/record', :object => @user.address unless @user.address.nil?
= render :partial => 'user_identifications/record', :object => @user.user_identification unless @user.user_identification.nil?

%div{ :class => 'span-17 last' }
  = link_to t(:edit), edit_user_profile_path(:id => @user.id), :class => "ui-state-default ui-corner-all button"

