%div{ :class => 'span-14 section_left last' }
  %h3= t('journals.show.title')
  - show_for @journal do |u|
    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}
%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_journal_path(:id => @journal.id)
  = link_as_button t(:back), admin_journals_path
