.bgcolor
{	
  background: url(/themes/default/images/bg_blue_gradient.png) no-repeat;
  padding-top: 10px;
  padding-left: 10px;
}

.footer
{	
  background: url(/themes/default/images/bottom_fnd_azul.png) no-repeat;
  padding-top: 0px;
  padding-left: 0px;
  height: 300px; 
  margin-left: 5px;
}

#content 
{
  position: relative;
  margin-left: 130px;
  background: url(/themes/default/images/bg_text.jpg);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  width: 515px;
  color: #333333;
  font: 11px, arial, sans-serif;
  border: 2px solid  #5268a0;
  text-align: justify;
}



#content a
{
  color: #233f86;
  text-decoration: none;
}



#content a:hover
{
  color: blue;
  text-decoration: none;
}

