%div{ :class => 'span-14 section_left last' }
  %h3= t('roleinjobpositions.show.title')
  - show_for @roleinjobposition do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_roleinjobposition_path(:id => @roleinjobposition.id)
  = link_as_button t(:back), admin_roleinjobpositions_path
