<!--[list:institutional_activity]-->
<%= table_list(@collection, { :header => "Título", :columns => %w( descr institution_id startyear ) }) %> 
<br/>
<div id="operations">
<%= link_to get_label('add'), :action => 'new' %> |
<%= link_to get_label('back'), {:controller => 'navigator', :depth => 0} %>
</div>
<!--[eoflist:institutional_activity]-->

