%tbody{:id =>'collection'}
  = render :partial => 'roleincourse', :collection => @roleincourses
  = render :partial => 'collection_footer'
%tfoot{:id => 'paginator'}
  %tr
    %th
      = will_paginate @roleincourses, :id => 'ajaxed_paginator'
