<div id="operations">
    <%= submit_tag get_label('save') %>| <%= submit_tag get_label('preview') %> | <%= submit_tag get_label('send') %> | <%= link_to get_label('cancel'), :action => 'list' %>
</div>
