<%= render :partial => 'user_document/list', :locals => { 'title' => 'Planes anuales de actividades'} %>
<% unless @document_title.nil? %>
<br/>
<div id="operations">
 <%= link_to @document_title, :action => 'new' %>
</div>
<% end %>
