<h2> <%= @document_title %></h2>
<%= render :partial => 'profile' %>
<div class="section">
<%= @html_plan %>
</div>
<hr/>
<% form_tag({:action => 'create'}) do -%>
  <%= render :partial => 'form' %>
  <%= render :partial => 'operations' %>
<% end -%>
<%= textile_editor_initialize -%>
