<!--[list:user_conferencetalk]-->

<%= table_array(@collection, { :header => "Título", :columns => [[ 'conferencetalk_id', 'title', 'authors', ['conference_id', 'name', 'year'],  'talktype_id', 'talkacceptance_id', 'modality_id'], 'roleinconferencetalk_id' ] }) %> 

<!--[eoflist:user_conferencetalk]-->

