<%= links_to_filters(Institutioncareer, [ [ get_myschool.name, 'select_institutioncareers_by_institution'], [ 'UNAM', 'filter_institutioncareers_unam'], 
['Nacional', 'filter_institutioncareers_national'], ['Internacional', 'filter_institutioncareers_international'] ] ) %>
