  <%= links_to_filters(Institution, [ [ 'UNAM', 'select_institution_unam'], ['Nacional', 'select_filters_institution_national'], ['Internacional', 'select_filters_institution_international'] ] ) %>
  <div id="partial">
   <%= render :partial => 'salva/select_institution_unam' %>
  </div>
<%= quickpost('institution') %>
&nbsp;
<%= submit_for_stack_list('institution') %>



