<div class="moduser"> 
<label for="moduser_id" class="label"> Información registrada por el usuario: </label>
<%= db_moduser(@edit.send('moduser_id')) %>
<br/>
<label for="dbtime" class="label"> Fecha y hora de registro: </label>
<%= @edit.send('dbtime') %>
<br/>
</div>
