<div class="navtab">	
 <% max_item_per_line = 4 %>
 <% counter = 1 %>
 <% for child in list %> 
   <% if counter > max_item_per_line %>
    <% max_item_per_line += 4 %>
     <br/>
  <% end %>
   <span class="navtab_item" onclick="new Effect.Pulsate(this);"> <%=child%> </span>
 <% counter += 1 %>
 <% end %>
</div>
<%= navcontrol %>
