<div class="navtab">	
 <% max_item_per_line = 4 %>
 <% counter = 1 %>
 <% for child in list %> 
   <% if counter > max_item_per_line %>
    <% max_item_per_line += 4 %>
     <br/>
  <% end %>
   <span class="navtab_item" id="effect-fade" onclick="new Effect.Fade(this); window.setTimeout('Effect.Appear(\'effect-fade\', {duration:.4})',2500);"><%=child%> </span>
 <% counter += 1 %>
 <% end %>
</div>
