<div class="filters">
<%= simple_select('edit', Institutiontitle, 1) %> 
<%= observe_select('institutiontitle_id', 'select_institution_national', 2) %>
<br/>

<div id="select_institution_national">

</div> 

