<% collection = Institution.find(:all, :conditions => ['institutions.institutiontitle_id = ? AND institutions.country_id = ?', @params[:id], @params[:country_id] ] ) %>
<%= select('edit', 'institution_id', list_collection_array(collection, ['name', ['institution_id', 'name']]), {:prompt => '-- Seleccionar --'}, {:tabindex => 1} ) %>
