<% if id.to_i > 0  %>
<%= select_conditions('edit', Institution, 2, :attributes => ['name'], :conditions => "institutions.institutiontitle_id = #{id} AND institutions.country_id = 484 AND (institutions.institution_id <> 1 OR institutions.institution_id IS NULL)") %>
<% end %>
