<div class="box">
<%= form_remote_tag(:success => "new Effect.BlindUp('state', {duration: 0.4}); return false;", 404 => "alert('Not found...? Wrong URL...?')",  :failure => "alert('HTTP Error ' + request.status + '!');", :url  => { :controller => 'state', :action => 'create' } ) %>
<%= render :partial => "/state/form" %>
<div id="operations">
<%= submit_tag "Guardar" %> | <a href="#" onclick="new Effect.BlindUp('state', {duration: 0.4}); return false;" >Cancelar</a>
</div>
<%= end_form_tag %>
</div>
