<!-- <h1> Hola pinche wey! </h1> -->
<!-- <h1>Id <%= @id %> </h1> -->
<!-- <h1>Model <%= @model %> </h1> -->
<!-- <h1>Prefix <%= @prefix %> </h1> -->
<!-- <h1>Div <%= @div %> </h1> -->
<!-- <h1>Ref_model <%= @ref_model %> </h1> -->

<%= table_select('edit', @model, {:prefix => @prefix}, {}, {:ref_model => @ref_model, :id => @id} ) %>
