deploy.template = :rails3
deploy.repository = "git://github.com/ifunam/salva.git"
# if you use built-in caches for javascripts and stylesheets, set cache_dirs
# deploy.cache_dirs = %w(public/javascripts/main.js public/stylesheets/main.css)
case ENV['environment']
when 'production'
  deploy.application = "salva"
  deploy.user = "deployer"
  deploy.hosts = ["salva_prod.domain.com"]
  deploy.path = "/home/#{deploy.user}/apps"
  deploy.server = :passenger
when 'development'
  deploy.application = "salva"
  deploy.user = "deployer"
  deploy.hosts = ["salva_dev.domain.com"]
  deploy.path = "/home/#{deploy.user}/apps"
  deploy.server = :passenger
end
