require "capistrano"
$:.unshift(File.expand_path('./lib', ENV['rvm_path']))
require "rvm/capistrano"
require "bundler/capistrano"
set :rvm_ruby_string, "ruby-1.9.3-p0@salva"
set :rvm_type, :user

set :application, "salva"
set :repository,  "git://github.com/ifunam/salva.git"
set :branch, "master"

set :scm, :git
set :deploy_to, "/home/deployer/apps/#{application}"
set :user, "deployer"
default_run_options[:pty] = true
set :use_sudo, false

role :web, "yourhost.domain.com"
role :app, "yourhost.domain.com"
#role :db, "yourdb.domain.com", :primary => true

namespace :deploy do

  task :start do ; end
  task :stop do ; end

  task :restart, :roles => :app, :except => { :no_release => true }do
    run "touch #{File.join(current_path,'tmp','restart.txt')}"
  end

end

namespace :symlinks do

  task :configuration_files, :roles => :app do
    shared_config_dir = "#{shared_path}/config"
    unless Dir.exists? shared_config_dir
      run "mkdir -p #{shared_config_dir}"
    end

    %w(database.yml ldap.yml mail.yml site.yml newrelic.yml).each do |config_file|
      config_file_path = File.join(shared_config_dir, config_file)
      unless File.exists? config_file_path
        run "cp -n #{current_release}/config/#{config_file}.example #{config_file_path}"
      end
      run "ln -nfs #{config_file_path} #{current_release}/config/#{config_file}"
    end
  end

  task :system_directories, :roles => :app do
    %w(log pids assets system).each do |dir|
      shared_dir = File.join(shared_path, dir)
      unless Dir.exists? shared_dir
        run "mkdir -p #{shared_dir}"
      end
    end
    run "ln -nfs #{shared_path}/assets #{current_release}/public/assets"
  end

  task :uploads_directory, :roles => :app do
    shared_upload_dir = "#{shared_path}/uploads"
    unless Dir.exists? shared_upload_dir
      run "mkdir -p #{shared_upload_dir}"
    end
    run "ln -nfs #{shared_upload_dir} #{current_release}/public/uploads"
  end

end

namespace :assets do

  task :compile_sass, :roles => :app do
    run "cd #{current_path}; bundle exec compass compile"
  end

  task :compile_coffescript, :roles => :app do
    run "cd #{current_path}; bundle exec rake barista:brew"
  end

  task :compile, :roles => :app do
    run "ln -nfs #{shared_path}/assets #{current_release}/public/assets"
    run "cd #{current_path}; bundle exec rake assets:precompile"
  end

  task :clean, :roles => :app do
    run "cd #{current_path}; bundle exec rake assets:clean"
  end

end

namespace :rvm do

  task :trust_rvmrc, :roles => :app do
    run "rvm rvmrc trust #{current_release}"
  end

end

before "deploy:restart", "symlinks:configuration_files"
after  "symlinks:configuration_files", "symlinks:system_directories"
after  "symlinks:system_directories", "symlinks:uploads_directory"
after  "symlinks:uploads_directory", "rvm:trust_rvmrc"