%div{ :class => 'span-14 section_left last' }
  %h3= t('mediatypes.show.title')
  - show_for @mediatype do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_mediatype_path(:id => @mediatype.id)
  = link_as_button t(:back), admin_mediatypes_path
