<!--[list:sponsor_acadvisit]-->
<%= table_list(@collection, { :header => "Título", :columns => %w( acadvisit_id institution_id amount ) }) %> 
<br/>
<div id="operations">
<%= link_to get_label('add'), :action => 'new' %> |
<%= link_to get_label('back'), {:controller => 'navigator', :depth => 0} %>
</div>
<!--[eoflist:sponsor_acadvisit]-->

