<!--[list:user_techproduct]-->
<%= table_array(@collection, { :header => "Título", :columns => [
['techproduct_id', 'title', 'techproducttype_id'], 'year', 'userrole_id'] }) %> 
<!--[eoflist:user_techproduct]-->

