%div{ :class => 'span-14 section_left last' }
  %h3= t('roleinjournals.show.title')
  - show_for @roleinjournal do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_roleinjournal_path(:id => @roleinjournal.id)
  = link_as_button t(:back), admin_roleinjournals_path
