%tbody{:id =>'collection'}
  = render :partial => 'city', :collection => @cities
%tfoot{:id => 'paginator'}
  %tr
    %th
      = submit_tag 'Borrar selección', :confirm => t(:delete_all_confirm_question)
    %th
      = will_paginate @cities, :id => 'ajaxed_paginator'
