%div{ :class => 'span-14 section_left last' }
  %h3= t('roleintheses.show.title')
  - show_for @roleinthesis do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_roleinthesis_path(:id => @roleinthesis.id)
  = link_as_button t(:back), admin_roleintheses_path
