/* body */
body 
{
  background-color: #0866B7;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  border: 0px;
  padding: 0px;
}

/* head: Section for include de logo and the name of this website */
#head 
{
  background: url(/images/header.png) top left no-repeat;
  text-align: center;
  padding-top: 12px;
  margin-bottom: 12px;
  font: 15pt "roman", serif;
  border: 0px;
  width: 697px;
  height: 69px;
  font-weight: bold;
  color: #B5CFFF;
  white-space: nowrap;
}

#head a 
{
  text-decoration: none;
  color: #B5CFFF;
}

#head a:visited 
{
  text-decoration: none;
}

#head a:hover 
{
  color: #33CFFF;
}


/* container: for the toolbar and the content of the document */
#container 
{
  margin-left: 5px;
  width: 688px;
}

/* topbar: Section to draw the background of the toolbars after the header */
#topbar 
{
  width: 688px;
  display: table;
  background: url(/images/bg_center_toolbar.png) top left repeat-x;
  float: none;
}

/* toolbar: Toolbar inside topbar used for the scienti, conacyt and presidencia logos */ 
#topbar .toolbar 
{
  min-width: 688px;
  height: 53px;
  background: url(/images/bg_bottom_options.png) bottom repeat-x;
}

#topbar .toolbar .left_toolbar 
{
  background: url(/images/left_toolbar.gif ) top left no-repeat;
  font: 10px Arial, Helvetica, sans-serif;
  height: 46px;
  width: 14px;
  float:left;
}

#topbar .toolbar .center_toolbar 
{
  background: url(/images/center_toolbar.gif ) top left no-repeat;
  padding-top: 4px;
  height: 42px;
  width: 51px;
  float:left;
}

#topbar .toolbar .right_toolbar 
{
  background: url(/images/right_toolbar.gif) top left no-repeat;
  width: 14px;
  float:left;
  height: 46px;
  padding-right: 50px;
}

#scienti a 
{
  display: block;
  background: url(/images/scienti_off.gif) no-repeat;
  text-decoration: none;
  width: 51px;
  height: 42px;
}

#scienti a:hover 
{
  display: block;
  background: url(/images/scienti_on.gif) no-repeat;
  color: yellow;
  height: 42px;
}

#conacyt a 
{
  display: block;
  background: url(/images/conacyt_off.gif) no-repeat;
  text-decoration: none;
  width: 51px;
  height: 42px;
}

#conacyt a:hover 
{
  display: block;
  background: url(/images/conacyt_on.gif) no-repeat;
  color: yellow;
  height: 42px;
}

#presidencia a 
{
  display: block;
  background: url(/images/presidencia_off.gif) no-repeat;
  text-decoration: none;
  width: 51px;
  height: 42px;
}

#presidencia a:hover 
{
  display: block;
  background: url(/images/presidencia_on.gif) no-repeat;
  color: yellow;
  height: 42px;
}


/* options: It is a list of options used for the links as sheetlash  */
.options 
{
  min-width: 471px;
  white-space: nowrap;
  height: 54px;
  padding-top: 27px;
}

.options a:link 
{
  background: url(/images/option_off.gif) no-repeat;
  text-decoration: none;
  font: 11px Arial,  sans-serif;
  color: #B6C770;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.options  a:active 
{
  background: url(/images/option_off.gif)  no-repeat;
  font:  11px Arial,  sans-serif;
  color: yellow;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.options a:visited 
{
  background: url(/images/option_off.gif) no-repeat;
  font: 11px Arial,  sans-serif;
  color: #B6C770;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.options a:hover 
{
  background: url(/images/option_on.gif) no-repeat;
  font: 11px Arial, sans-serif;
  color: #CCFF00;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.options .on a:link 
{
  background: url(/images/option_on.gif) no-repeat;
  color: #CCFF00;
  font: 11px Arial, sans-serif;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

.options .on a:visited 
{
  background: url(/images/option_on.gif) no-repeat;
  color: #CCFF00;
  font: 11px Arial, sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

.options .on a:hover 
{
  background: url(/images/option_on.gif) no-repeat;
  color: yellow;
  font: 11px Arial, sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

.options .on a:active 
{
  background: url(/images/option_on.gif) no-repeat;
  color: yellow;
  font: 11px Arial, sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

/* treemenu: section used for the list of options in the vertical list */
#treemenu
{
  color: white;
  background: transparent; 
  padding: 0 0px;
  margin-left: 0;
  width: 10em; 
  font: bold 12px, Arial, sans-serif;
  border-left: 1px solid #5268a0;
  border-right: 1px solid #CCFF00; /* yellow; */
  float: left;
 }

#treemenu li
{
  list-style: none;
  margin: 0;
}

#treemenu a
{
  display: block;
  text-decoration: none;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  color: white;
  background: #233f86;
  border-width: 1px;
  border-style: solid;
  border-color: #5268a0 #6377a9 #112153 #09143a; 
  border-left: 1em solid #B6C770;
  padding: 0.15em 0.25em 0.15em 0.75em;
  width: 11em; 
} 

#treemenu a#current 
{ 
  border-color: #5268a0 #6377a9 #112153 #CCFF00; 
  color: #CCFF00; 
}

#treemenu a
{
  width: 99%; 
  /* only necessary for Internet Explorer */
}

#treemenu a
{
  voice-family: "\"}\"";
  voice-family: inherit;
  width: 6.6em; 
  /* Tantek-hack should only used if Internet-Explorer 6 is in standards-compliant mode */
}

#navcontainer>#treemenu a
{
  width: auto;
  /* only necessary if you use the hacks above for the Internet Explorer */
 }

#treemenu a:hover, #treemenu a#current:hover
{
  background: #233f86; 
  border-color: #112153 #6377a9 #5268a0 yellow; 
  color: yellow; 
  padding: 0.15em 0.25em 0.15em 0.75em;
}

#treemenu a:active, #treemenu a#current:active
{
  background: #17a;
  border-color: #069 #6cf #5bd white;
  padding: 0.4em 0.35em 0.25em 0.9em;
}

#treemenu .simple a
{
  display: block; 
  text-decoration: none;
  font:  11px Arial, Helvetica, sans-serif;
  color: white;
  background: transparent;
  border-style: none;
  padding: 0.1em 0.1em 0.2em 0.5em;
  border-bottom: 1px solid #6377a9;
  width: 10em; 
}

#treemenu .simple a:hover 
{
  display: block; 
  text-decoration: none;
  font:  11px Arial, Helvetica, sans-serif;
  color: yellow; 
  background: transparent;
  border-style: none;
  padding: 0.1em 0.1em 0.2em 0.5em;
  width: 10em; 
  border-bottom: 1px solid #6377a9;
}


.bgcolor
{	
  background: url(/images/bg_blue_gradient.png) no-repeat;
  padding-top: 10px;
  padding-left: 10px;
  height: 800px;
}

.footer
{	
  background: url(/images/bottom_fnd_azul.png) no-repeat;
  padding-top: 0px;
  padding-left: 0px;
  height: 300px; 
  margin-left: 5px;
}

#content 
{
  position: relative;
  margin-left: 130px;
  background: url(/images/bg_text.jpg);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  width: 515px;
  color: #333333;
  font: 11px, arial, sans-serif;
  border: 2px solid  #5268a0;
  text-align: justify;
}

#content a
{
  color: #233f86;
  text-decoration: none;
}
#content a:hover
{
  color: blue;
  text-decoration: none;
}


#linksforindex 
{
  text-decoration: none;
  margin-bottom: 2em;
}

#linksforindex a
{
  display: block;
  text-decoration: none;
  text-align: center;
  margin-left: 0.5em;
  color: white;
  background: #233f86;
  border-width: 1px;
  border-style: solid;
  border-color: #5268a0 #6377a9 #112153 #09143a; 
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  width: 8em; 
  float: left;
}

#linksforindex a:hover, #linksforindex a#current:hover
{
  background: #233f86; 
  border-color: #112153 #6377a9 #5268a0 #09143a; 
  color: yellow; 
  padding-top: 0.15em;
  padding-bottom: 0.15em;
}

#linksforindex a:active, #linksforindex a#current:active
{
  background: #17a;
  border-color: #069 #6cf #5bd #17a;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
}



