/* body */
body {
  background-color: #0866B7;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  border: 0px;
  padding: 0px;
}

.site a {
        color: #CDCD9E;
        text-decoration: none;
        font-weight: bold;
        font: 16px Arial, Helvetica, sans-serif;
}

.site a:visited {
        color: #CDCD9E;
}

.site a:hover {
        color: #EAF01C;
}

.container {
  width: 100%;
  border: 4px double #93b6e2;
  background-color: #ffffff;
}

.container_border {
  border: 1px solid #578fd3;
}

.topbar {
        border: 1px solid #336699;
        background: #4381CE;
        width: 99.9%;
        height: 50px;
        text-align: left;
        color: #C2f9ff;
        font: 16px Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding-top: 5px;
}

.topbar img {
        vertical-align: middle;
        padding-right: 25px;
        border: 0px;
}

.toplinks {
        width: 100%;
        height: 13px;
        background: #FFFFFF;
        color: #0F4180;
        margin-top: 2px;
        vertical-align: bottom;
        font: 12px Arial, Helvetica, san-serif;
        text-align: right;
}

.toplinks a {
        color: #0F4180;
        text-decoration: underline;
        font: 12px Arial, Helvetica, san-serif;
        padding-right: 4px;
}

.toplinks a:visited {
        color: #0F4180;
}

.toplinks a:hover {
        color: blue;
}

.toplinks2 {
        width: 100%;
        height: 13px;
        background: #D6E7EF;
        color: green;
        margin-top: 2px;
        vertical-align: bottom;
        font: 12px Arial, Helvetica, san-serif;
        text-align: right;
}

.toplinks2 a {
        color: #0F4180;
        text-decoration: underline;
        font: 12px Arial, Helvetica, san-serif;
        padding-right: 10px;
}

.toplinks2 a:visited {
        color: green;
}

.toplinks2 a:hover {
        color: blue;
}

.toplinks .logged_user {
        color: green;
        font-weight: bold;
}

.title {
        width: 100%;
        height: 50px;
        background: #FFFFFF;
        color: #336699;
        margin-top: 0px;
        vertical-align: bottom;
        font: 16px Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: left;
}

.title img {
        vertical-align: bottom;
        padding-right: 5px;
        border: 0px;
}

.navbar {
        background: #4381CE;
        width: 99.5%;
        height: 14;
        border-top: 1px solid #336699;
        border-bottom: 1px solid #336699;
        text-align: left;
        padding: 2px;
        color: #FFFFFF;
        font: 12px Arial, Helvetica, sans-serif;
}

.navbar a {
        color: #FFFFFF;
        text-decoration: underline;
}

.navbar a:visited {
        color: #FFFFFF;
}

.navbar a:hover {
        color: yellow;
}

.supported_formats {
       color: #00000;
       font-weight: bold;
       text-align: right;
}

.navtab {
        display: table;
        width: 99.5%;
        text-align: left;
        padding: 2px;
        font: 12px Arial, Helvetica, sans-serif;
}

.navtab_row {
        display: table-row;
        margin: 5px;
}

.navtab_item {
        display: table-cell;
        width: 250px;
        padding: 10px;
        margin-left: 30px;
        float: left;
}

.navtab_item img {
        vertical-align: middle;
        padding-right: 3px;
        border: 0px;
}

.navtab_item a {
        color: #0F4180;
         text-decoration: none;
}

.navtab_item a:visited {
        color: #0F4180;
}

.navtab_item a:hover {
        color: green;
}


.navcontrol {
        background: transparent;
        height: 14;
        text-align: left;
        font: 12px Arial, Helvetica, sans-serif;
        padding: 2px;
        padding-top: 5px;
        padding-bottom: 5px;
}

.navcontrol a {
     text-decoration: none;
     margin-bottom: 0.5em;
     margin-top: 0.5em;
     color: white;
     background: #4381CE;
     border-width: 1px;
     border-style: solid;
     border-color: #5268a0 #6377a9 #112153 #09143a;
     padding: 2px;
     padding-left: 4px;
     padding-right: 4px;
}

.navcontrol a#current {
  border-color: #5268a0 #6377a9 #112153 #CCFF00;
  color: #CCFF00;
}

.navcontrol a:hover, .navcontrol a#current:hover {
  background: #D6E7EF;
  border-color: #112153 #6377a9 #5268a0 #5268a0;
  color: black;
  padding: 0.15em 0.25em 0.15em 0.75em;
}

.navcontrol a:active, .navcontrol a#current:active {
  background: #17a;
  border-color: #069 #6cf #5bd #5bd;
  padding: 0.4em 0.35em 0.25em 0.9em;
}

.formbox {
    z-index: 1;
    font: 12px Arial, Helvetica, sans-serif;
    background: #fff url(/images/login_body_bg.jpg) top;
    border: 1px solid #336699;
    position: static;
    margin: 5px;
    padding: 5px;
    text-align: left;
}

.formbox  p{
    display: inline-block;
    border-bottom: 1px solid silver;
    text-align: left;
   }

.formbox .partial {
    z-index: 3;
    background-color: #ffffdb;
    border: 2px groove #336699;
    padding: 5px;
    margin: 10px;
    position: fixed;
    top: 150px;
    left: 200px;
}

.formbox .partial .title {
    background-color: #336699;
    border: 1px solid #0866B7;
    color: #ffffdb;
    height: 16px;
    text-align: center;
    font: 14px Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.required_legend {
    display: inline;
    font-weight: bold;
    color: #0866B7;
}

.filters {
  display: table-cell;
  border: 1px dotted green;
  text-align: right;
  float: inherits;
}

.row {
     width: 100%;
     vertical-align: top;
     display:table-row;
}

.row .required {
  font-weight: bold;
  color: #0866B7;
}

.row a {
     color: #0866B7;
     text-decoration: none;
}

.row a:visited {
     text-decoration: none;
}

.row a:hover {
     color: green;
     text-decoration: none;
}

.box .options {
    background: transparent;
}

.box .options a {
        background: #709bd1;
        color: #fff;
        padding: 0px;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        border-width: 1px;
        border-style: solid;
        border-color: #abcdec #6377a9 #518ac8 #336699;
}

.box .options a:hover {
        background: #336699;
        color: #fff;
        padding: 0px;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        padding: 3px;
        border-width: 2px;
        border-style: solid;
        border-color: #709bd1 #518ac8  #6377a9 #abcdec;
}

a.show {
  display: block;
  background: url(/images/browse_off_16x16.gif) no-repeat;
  text-decoration: none;
  width: 17px;
  height: 17px;
}

a:hover.show {
  display: block;
  background: url(/images/browse_on_16x16.gif) no-repeat;
  text-decoration: none;
  width: 16px;
  height: 16px;
}

a.edit {
  display: block;
  background: url(/images/edit_off_16x16.gif) no-repeat;
  text-decoration: none;
  width: 17px;
  height: 17px;
}

a:hover.edit {
  display: block;
  background: url(/images/edit_on_16x16.gif) no-repeat;
  text-decoration: none;
  width: 16px;
  height: 16px;
}

a.purge {
  display: block;
  background: url(/images/destroy_off_16x16.gif) no-repeat;
  text-decoration: none;
  width: 17px;
  height: 17px;
}

a:hover.purge {
  display: block;
  background: url(/images/destroy_on_16x16.gif) no-repeat;
  text-decoration: none;
  width: 16px;
  height: 16px;
}

.box .top_options {
        background: url(/images/bg_box_top_options.gif) center left repeat-x;
        width: 540px;
        text-align: left;
        padding-left: 10px;
        padding-top: 10px;
        color: #000000;
        text-decoration: none;
        margin-bottom: 5px;
        display: table;
}

.box .top_options a {
        color: #034168;
        background: #D6E7EF;
        text-decoration: none;
        border: 1px solid #999;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        padding-top: 1px;
        padding-bottom: 2px;
        padding-left: 8px;
        padding-right: 8px;
        vertical-align: middle;
}

.box .top_options a:hover {
  background-color: #ffff99;
  color: #000;
  font: 12px Arial, Helvetica, sans-serif;
}

.box .top_options inptu[type="button"], input[type="submit"]  {
  color: #034168;
  background-color: #D6E7EF;
  border: 1px solid #999;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-left: 2px;
  margin-top: 0px;
  margin-right: 2px;
  font: 12px Arial, Helvetica, sans-serif;
  vertical-align: top;
}

.box .top_options input[type="button"]:hover, input[type="submit"]:hover {
  background-color: #ffff99;
  color: #000;
  font: 12px Arial, Helvetica, sans-serif;
}

.add {
  vertical-align:text-top
}

.add:hover {
   border: 1px groove green;
}
fieldset {
        margin-bottom: 10px;
        border: 1px solid silver;
}

legend {
        font: 15px Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: center;
        padding-bottom: 10px;
}

fieldset .error {
        background: #ffffcc;
        width: 530px;
        min-height: 150px;
        margin: 30px;
        padding: 10px;
        margin-left: 30px;
        margin-top: 10px;
        border: 1px solid silver;
        text-align: justify;
}

p {
   font:  12px Arial,  sans-serif;
}

.label {
        float: left;
        width: 160px;
        min-height: 25px;
        text-align: left;
        margin-right: 10px;
        margin-bottom: 5px;
        font:  12px Arial,  sans-serif;
        font-weight: bold;
        color: #000000;
}


input {
  background-color: #fff;
  color: #555;
  margin-top: 5px;
  margin-bottom: 10px;
}



input[type="text"], input[type="password"], textarea {
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  padding:3px;
  margin-bottom: 0px;
  font: 12px Arial, Helvetica, sans-serif;
  margin-right: 10px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  background-color: #fff;
  border: 1px solid #666;
  margin-bottom: 0px;
  font: 12px Arial, Helvetica, sans-serif;
  margin-right: 10px;
}

/* table used for lists with blue color */
table.list {
        width: 100%;
        background: #336699;
        border: 1px solid #336699;
        margin-bottom: 10px;
        empty-cells: show;
        border-spacing: 0px;
}

table.list tr {
        background: transparent;
}

table.list tr:hover {
        background: #ffffdb !important;
}

table.list tr.odd {
        background: #ecefff;
}

table.list tr.even {
        background: #f8f8f8;
}

table.list th {
        background: #336699;
        color: #fff;
        padding: 0px;
        font-size: 12px;
        font-weight: normal;
        border-width: 1px;
        border-style: solid;
        border-color: #709bd1 #518ac8  #6377a9 #709bd2;
        text-align: center;
        padding: 2px;
}

table.list td {
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 2px;
        padding-right: 2px;
        border-bottom: 1px dotted #336699;
}

table.list td.item {
        text-align: left;
        width: 20px;
        padding-left: 3px;
        padding-right: 3px;
}

table.list td.link {
        text-align: left;
        width: 60px;
        padding-left: 3px;
        padding-right: 3px;
}

table.list td.link .show {
  display: block;
  background: url(/images/browse_off_16x16.gif) no-repeat;
  text-decoration: none;
  width: 17px;
  height: 17px;
  float: left;
}

table.list td.link .show:hover {
  display: block;
  background: url(/images/browse_on_16x16.gif) no-repeat;
  text-decoration: none;
  width: 16px;
  height: 16px;
  float: left;
}

table.list td.link .edit {
  display: block;
  background: url(/images/edit_off_16x16.gif) no-repeat;
  text-decoration: none;
  width: 17px;
  height: 17px;
  float: left;
}

table.list td.link .edit:hover {
  display: block;
  background: url(/images/edit_on_16x16.gif) no-repeat;
  text-decoration: none;
  width: 16px;
  height: 16px;
  float: left;
}

table.list td.link .purge {
  display: block;
  background: url(/images/destroy_off_16x16.gif) no-repeat;
  text-decoration: none;
  width: 17px;
  height: 17px;
  float: left;
}

table.list td.link .purge:hover {
  display: block;
  background: url(/images/destroy_on_16x16.gif) no-repeat;
  text-decoration: none;
  width: 16px;
  height: 16px;
  float: left;
}

.status {
 margin: 5px;
}

div.progressBar {
    margin: 5px;
  }

div.progressBar div.border {
    background-color: #fff;
    border: 1px solid grey;
    width: 100%;
}

div.progressBar div.background {
    background: url(/images/progress-bar.gif) repeat-x;
    height: 18px;
    width: 0%;
}

.upgrade_note {
  background: #fad163;
  border: 2px groove #fad163;
  padding: 3px;
  color: black;
}

.moduser {
        background-color: #ffffcc;
        text-align: left;
        border: 1px solid silver;
        padding: 5px;
}

.moduser .label {
 float:none;
}

div.auto_complete {
  background: #fff;
}

div.auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}

div.auto_complete ul li {
   margin:0;
   padding:3px;
}

div.auto_complete ul li.selected {
  background-color: #ffb;
}

div.auto_complete ul strong.highlight {
 color: #800;
 margin:0;
 padding:0;
}

input, select {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #000000;
}

select
{
  font-style:none;
  width: expression(document.body.clientWidth < 742? "400px" : document.body.clientWidth > 1202? "600px" : "auto");
  max-width: 350px;
  overflow: visible;
  float: left;
}

option {
  max-width: 500px;
}

input.quickpost {
  display: block;
  position: static;
  border: 0px;
  background-image: url("/images/add.gif"); background-repeat: no-repeat;
  width: 46px;
  height: 20px;
  padding-top: 19px;
  text-indent: -100em;
  overflow: hidden;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand;
  color: #ffffff;
  font-size: 1px;
  float:left;
}

input.quickpost:hover {
  border: 1px solid #f48f35;
}

input.quickpost-select {
  display: block;
  position: static;
  border: 0px;
  background-image: url("/images/select.gif"); background-repeat: no-repeat;
  width: 46px;
  height: 20px;
  padding-top: 19px;
  text-indent: -100em;
  overflow: hidden;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand;
  color: #ffffff;
  font-size: 1px;
}

input.quickpost-select:hover {
  border: 1px solid #229c2e;
}


