.row
  .span-6= f.input :worker_key, :as => :string, :input_html =>{:size => 10, :maxlength => 10}
  .span-11.last= f.input :worker_number, :as => :string, :input_html =>{:size => 10, :maxlength => 10}

.row
  .span-6= f.input :academic_years, :input_html =>{:size => 2, :maxlength => 2}
  .span-11.last= f.input :administrative_years, :input_html => {:size => 2, :maxlength => 2}