<!--[show:talkacceptance]-->
<%= render :partial => "talkacceptance/show" %>


<div id="operations">
 <%= link_to get_label('edit'), :action => 'edit', :id =>  @edit %> |
 <%= link_to get_label('back'), :action => 'back' %>
</div>
<!--[eofshow:talkacceptance]-->

