<html>
<head>
  <title> <% head_title %> </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description"  content="Plataforma de informaci&oacute;n curricular SALVA" />
  <meta name="copyright" content="Universidad Nacional Aut&oacute;noma de M&eacute;xico" />
  <link rel="icon" href="/images/favicon.ico" />
  <%= stylesheet_link_tag 'form', 'administration', 'lightbox', 'ajax_scaffold', 'test', :cache => true %>
  <%= javascript_include_tag 'prototype', 'scriptaculous', 'application', 'unittest', :cache => true %>
  <%= javascript_include_tag 'overlib', :cache => true %>
  <!--i [if lt IE 7] -->
  <%= javascript_include_tag 'pngfix', :cache => true %>
  <!-- [endif]-->
</head>
<body>
<div class="site">
<a href="<%= get_conf('institution_url') %>" target="_new"> <%= get_conf('institution') %></a>
</div> <!-- /site -->
<div class="container">
<div class="container_border">
   <div class="topbar">
        <img src="/images/logo_salva.png" border="0" >
         PLATAFORMA DE INFORMACI&Oacute;N CURRICULAR
   </div> <!-- /topbar -->
   <div class="toplinks">
   <%= get_label('login') %>: <span class="logged_user"><%= logged_user%> </span> |
   <%= link_to('Salir', { :controller => 'user', :action => 'logout'}) %> |
   <a href="/user/about/4" target="_new"> Soporte técnico </a>
   </div> <!-- /toplinks -->
   <div class="title">
     <%=  render :partial => "navigation/breadcrumb_images" %><%= controller_title %>
	<div class="toplinks2">
   	 <%= link_to 'Informe anual de actividades', {:controller => 'user_annual_activities_report', :action => 'list'} %>
	</div>
   </div> <!-- title -->


   <div class="navbar">
    <b>Men&uacute; de navegaci&oacute;n:</b> <%= render :partial => "navigation/breadcrumb" %>
   </div> <!-- /navbar -->
   <div class="formbox">
   <% if flash[:notice] %>
   <p style="color: green"> <%= flash[:notice] %></p>
   <% end %>
     <%= yield %>
   </div> <!-- /formbox -->
   <%=  render :partial => "navigation/neighborlinks" %>
</div> <!-- /container_border -->
</div> <!-- /container -->
<%= render :partial => 'salva/ajax_unit_test' if params[:debug_ajax].to_i == 1%>
</body>
</html>

