<div class="filters">
<%= simple_select('filt', Country, 1) %>
<%= observe_select('filt', 'country_id', 'select_schools_international', 2) %>
<br/>

<div id="select_schools_international">

</div> 

</div> 
