%tbody{:id =>'collection'}
  = render :partial => 'titlemodality', :collection => @titlemodalities
  = render :partial => 'collection_footer'
%tfoot{:id => 'paginator'}
  %tr
    %th
      = will_paginate @titlemodalities, :id => 'ajaxed_paginator'
