%tbody{:id =>'collection'}
  = render :partial => 'record', :collection => @courses
  = render :partial => 'collection_footer'
%tfoot{:id => 'paginator'}
  %tr
    %th
      = will_paginate @courses, :id => 'ajaxed_paginator'
