.role_list

  .span-6.last
    %b=t(:role_selection)
    = link_to_close_author_list

  .span-6.last
    %ul
      - Roleincourse.instructors.each do |record|
        %li=link_to record.name, '#', 'data-remote-resource' => add_user_course_instructor_path(:id => @course.id, :roleincourse_id => record.id, :format => :js)


