%div{ :class => 'span-8 last' } 
  = render :partial => "/shared/errors", :object => f.object.errors

= f.input :name, :as => :string, :input_html => { :size => 20 }, :wrapper_class => 'span-8 last' 

