%div{ :class => 'span-14 section_left last' }
  %h3= t('publishers.show.title')
  - show_for @publisher do |u|
    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}
%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_publisher_path(:id => @publisher.id)
  = link_as_button t(:back), admin_publishers_path
