%tbody{:id =>'collection'}
  = render :partial => 'activitytype', :collection => @activitytypes
  = render :partial => 'collection_footer'
%tfoot{:id => 'paginator'}
  %tr
    %th
      = will_paginate @activitytypes, :id => 'ajaxed_paginator'
