.dialog-section-with-border-and-bg
  .row
    = f.input :name, :as => :string, :input_html => { :size => 38 }

  .row
    = f.input :url, :as => :string, :input_html => { :size => 38 }

  .row
    = f.association :country, :using => :name, :input_html  => {:class => 'chosen-select' }
