%div{ :class => 'span-14 section_left last' }
  %h3= t('userstatuses.show.title')
  - show_for @userstatus do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_userstatus_path(:id => @userstatus.id)
  = link_as_button t(:back), admin_userstatuses_path
