%div{ :class => 'span-8 last' } 
  = render :partial => "/shared/errors", :object => f.object.errors


= f.input :name, :as => :string, :wrapper_class => 'span-8 last' 


= f.input :has_group_right, :as => :radio_button, :wrapper_class => 'span-8 last' 

