<%= render :partial => 'salva/form_notes' %>
<%= form_tag({:action=>'create'}, {:multipart => true}) %>
  <%= render :partial => 'form' %>
  <div id="operations">
  <%= submit_tag get_label('save') %>
  </div>
<%= end_form_tag %>

