<% for column in Booksedition.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @booksedition.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @booksedition %> |
<%= link_to 'Back', :action => 'list' %>
