<div class="required_legend"><%= get_label('required_legend') %>.</div>
<%= start_form_tag ({:action => 'update', :id => @edit}) %>
  <%= render :partial => 'form' %>
  <div id="operations">
  <%= submit_tag get_label('update') %> | <%= link_to get_label('back'), {:controller => 'navigator', :depth => 0} %>
  </div>
<%= end_form_tag %>

