[% PROCESS header.tmpl %]

<div id="headbar">
	<a href="[% ${page}.helplink %]"> 
	      <img src="[% images %]/[% iconhelp %]" alt="+"/> [% help %]
	 </a>	
</div>

<div id="head">
   <img src="[% images %]/[% ${page}.icontitle %]" alt="-"/> [% ${page}.formtitle %] 
</div>

[% IF ${page}.transactions.${submit} %]
	<div id="transaction">
		[% ${page}.transactions.${submit} %]
	</div>
[% END %]

[% IF ${page}.example %]
<div id="example">
	<div class="tit">
	[% example %]
	</div>

	<div class="bod">
	[% ${page}.example %]
	</div>
</div>
[% END %]

<div id="container">
[% IF reqstring %]
<p>
	[% reqstring %]
</p>
[% END %]

[% IF form %]
<form method="[% form.method %]" enctype="[% form.enctype %]" action="[% form.action %]">
	[% IF fields %]
   	<div id="formtable"> 
		[% FOREACH row = fields.list %]
			[% IF row.label %] 
				<div class="label"> 
				[% ${row.label} %]
				[% IF row.type == 'required' %] 
						<span class="required">*</span>  

				[% END %]:
		       	        </div>  
			[% END %]
	        	[% IF row.field %] 
				<div class="field"> 
				[% row.field %] 
				</div>  
			[% END %]
			[% IF row.js  == 1 %]
		   		[% IF row.hid %] 
				       <div class="help"> 
					<a href="javascript:help('[% row.hid %]')">
					<img src="[% images %]/[% iconhelpfield %]" alt="?"/> 
					</a>
					</div>
				[% END %]
			[% END %]
			<br/>
		[% END %]
  	</div>
	[% END %]
	<div id="options">
	<input class="button" type="submit" tabindex="13"  value="[% ${page}.submit.${submit}  %]" />
	&nbsp;&nbsp;&nbsp;
	<a href ="[% ${page}.cancel.link %]"> <img src="[% images %]/[% iconcancel %]" alt="[X]"/> [% ${page}.cancel.string  %] </a> 
	</div> 
</form>
[% END %]

</div>
[% PROCESS footer.tmpl %]
