<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
[% IF lang %] 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="[% lang %]" lang="[% lang %]">
[% ELSE %] 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
[% END %]
<head>
     [% IF ${page}.title %] 
	<title>[% ${page}.title %]</title> 
     [% END %]
     [% IF charset %] 
	<meta http-equiv="Content-Type" content="text/html; charset=[% charset %]" /> 
     [% END %]
     [% IF ${page}.keywords %] 
	<meta name="keywords" content="[% ${page}.keywords %]" /> 
     [% END %]
     [% IF ${page}.description %]
	<meta name="description"  content="[% ${page}.description %]" /> 
     [% END %]
     [% IF copyright %]
	<meta name="copyright" content="[% copyright %]" /> 
     [% END %]
     [% IF ico %] 
	<link rel="icon" href="[% images %]/[% ico %]" /> 
     [% END %]
     [% IF ${page}.style %] 
	<link type="text/css" rel="stylesheet" href="[% ${page}.style %]"/> 
     [% END %]
     [% IF js %] 
	     [% IF ${page}.js %] 
		<script type="text/javascript" src="[% ${page}.js %]"> </script> 
	     [% END %]
     [% END %]

    <!-- Salva Template Version: $Id$ -->
</head>
<body>
