<!--[list:user_genericwork]-->
<%= table_array(@collection, { :header => "Título", :columns =>
[ ['genericwork_id', 'authors', 'title', 'year'], 'userrole_id'] })
%>

<!--[eoflist:user_genericwork]-->

