<%= error_messages_for 'edit' %>

<!--[form:address]-->

<div class="row"> 
<label for="city"><%= salva_column('city') %></label> 
<%= text_field 'edit', 'city' %>
</div>

<div class="row"> 
<label for="movil"><%= salva_column('movil') %></label> 
<%= text_field 'edit', 'movil' %>
</div>

<div class="row"> 
<label for="postaddress"><%= salva_column('postaddress') %></label> 
<%= text_field 'edit', 'postaddress' %>
</div>

<div class="row"> 
<label for="zipcode"><%= salva_column('zipcode') %></label> 
<%= text_field 'edit', 'zipcode' %>
</div>

<div class="row"> 
<label for="country_id"><%= salva_column('country_id') %></label> 
<div id="Country">
<%= table_select('edit', Country) %> 
<input name='Country_name' size='20', maxsize='255' type='text' onkeydown="<%= remote_upgrade_select('Country', 'name', '¿Desea agregar este elemento?' ) %>">
</div>
</div>

<div class="row"> 
<label for="mail"><%= salva_column('mail') %></label> 
<%= text_field 'edit', 'mail' %>
</div>

<div class="row"> 
<label for="addresstype_id"><%= salva_column('addresstype_id') %></label> 
<%= table_select('edit', Addresstype) %> 
</div>

<div class="row"> 
<label for="phone"><%= salva_column('phone') %></label> 
<%= text_field 'edit', 'phone' %>
</div>

<div class="row"> 
<label for="fax"><%= salva_column('fax') %></label> 
<%= text_field 'edit', 'fax' %>
</div>

<div class="row"> 
<label for="state_id"><%= salva_column('state_id') %></label> 
<div id="State">
<%= table_select('edit', State) %> 
<input name='State_name' size='20', maxsize='255' type='text' onkeydown="<%= remote_upgrade_select('State', 'name', '¿Desea agregar este elemento?' ) %>">
</div>
</div>

<div class="row"> 
<label for="other"><%= salva_column('other') %></label> 
<%= text_field 'edit', 'other' %>
</div>


<!--[eoform:address]-->

