.subsection-round-corner
  %h3= t('.identification')
  - if !f.object.nil? and !f.object.new_record?
    = f.hidden_field :id
    // = f.hidden_field :user_id
  .row
    = f.input :descr, :as => :string, :input_html => { :size => 28, :autocomplete => "off" }
    = f.hidden_field :identification_id, :value => 2
