<!--[list:user_newspaperarticle]-->
<%= table_array(@collection, { :header => "Tesis", :columns => [ ['newspaperarticle_id', 'title', 'newsdate', 'newspaper_id'], 'ismainauthor' ] }) %>
<!--[eoflist:user_newspaperarticle]-->

