<%= render :partial => 'salva/form_notes' %>
<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <div id="operations">
  <%= submit_tag get_label('save') %> | <%= link_to get_label('cancel'), :action => 'cancel' %>
  </div>
<%= end_form_tag %>

