%div{ :class => 'span-14 section_left last' }
  %h3= t('credittypes.show.title')
  - show_for @credittype do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_credittype_path(:id => @credittype.id)
  = link_as_button t(:back), admin_credittypes_path
