<%= error_messages_for 'edit' %>

<!--[form:user_conferencetalk]-->
<div class="row"> 
<label for="conferencetalk_id" class="label"><%= get_label('conferencetalk_id') %></label> 
<div id="conferencetalk_id">
<%= select_as_tree('edit', Conferencetalk, %w(title talktype_id), 1, 1) %>
</div>
<%= quickpost('conferencetalk') %>
</div>

<div class="row"> 
<label for="roleinconferencetalk_id" class="label"><%= get_label('roleinconferencetalk_id') %></label> 
<div id="roleinconferencetalk_id">
<%= simple_select('edit', Roleinconferencetalk, 2) %>
</div>
</div>

<div class="row"> 
<label for="comment" class="label"><%= get_label('comment') %></label> 
<%= text_area 'edit', 'comment', 'rows' => 4, 'cols' => 40, 'tabindex' => 3, 'id' => 'comment' %></div>


<!--[eoform:user_conferencetalk]-->

