<div id="skilltype" style="display:none;position:absolute;">
 <%= render :partial => "/salva/quickpost", 
 :locals => {:controller => 'skilltype', :title => 'Habilidades', :partial => 'select_skilltype', :attribute => 'skilltype_id'} %>
</div>


