<%= table_list(@collection, { :header => "Domicilio(s)", :columns => %w(addresstype_id location pobox phone fax) }) %>
<br/>
<% if Address.find(:all, :conditions => "user_id = #{session[:user]}").size < Addresstype.find(:all).size  %>
<div id="operations">
<%= link_to get_label('add'), :action => 'new' %>
</div>
<% end %>


