<% if @collection.size == 0 %>
<p> Registre al menos un domicilio. </p> <br />
<% else %>
<div id="required_note" style="display:none;"> </div>
<% end %>

<%= render :partial => 'shared/index', :locals => { :title => 'Domicilio(s)'} %>
