html
  font-size: 14px

body
  color: black
  font-family: "lucida grande", "lucida sans unicade", sans-serif
  font-size: 14px
  margin-left: auto
  margin-right: auto
  text-align: center
  margin-top: 0px
  margin-bottom: 0px

#header
  display: block-inline
  background: url("/images/header_bg.png") repeat-x scroll left top 
  text-align: center
  padding-top: 30px
  height: 140px
  width: 100%
  #title
    display: inline-block
    color: white
    font-family: "georgia", "bitstream vera serif", serif
    font-size: 2.8em
    font-weight: normal
    letter-spacing: -1px
    line-height: 1
    margin-bottom: 10px
    padding-left: 80px
    line-height: 1
    float: left
    width: 80%
    a, a:link, a:visited, a:hover
      text-decoration: none
      color: white
  #toplinks
    margin-top: 70px
    font-size: 11px
    color: white
    a, a:link, a:visited, a:hover
      color: white

#main
  margin-left: auto
  margin-right: auto
  margin-top: 5px
  margin-bottom: 5px
  padding: 10px
  height: auto

#content_left
  font-size: 14px
  padding: 5px
  float: left
  margin-right: 10px
  text-align: justify
  letter-spacing: 0.5px

#footer
  color: black
  background: url("/images/footer_gradient.png") repeat-x scroll left top #eeeeee
  border-bottom: 1px solid silver
  width: 100%
  font-size: 11pt
  text-align: center
  margin-left: auto
  margin-right: auto
  line-height: 0.2
  letter-spacing: 0.5px
  padding: 25px 10px 10px 10px

.container
  padding: 10px 70px 10px 20px
  .span-24
    margin-bottom: 1.5em

.section_left
  background: url("/images/section_bg.jpg") repeat scroll left top #eeeeee
  text-align: left
  border: 1px solid silver
  -moz-border-radius: 15px
  border-radius: 15px
  padding: 30px

.section
  border: 1px solid silver
  -moz-border-radius: 15px
  border-radius: 15px
  padding: 30px

.buttons_left
  text-align: left
  padding: 10px

input
  font-size: 12px
  padding-left: 0px
  margin-left: 0px

input[type="text"],
textarea,
input[type="password"]
  width: auto
  height: auto
  padding-left: 0px
  font-size: 12px

select
  width: 165px

.notice
  color: green

.alert
  color: red

.fieldWithErrors
  padding: 0px  
  color: red
  display: table

.fieldWithErrors 
  display: inline-block

#errorExplanation
  width: 400px
  border: 2px solid red
  padding: 7px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0

  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: -7px
    background-color: #c00
    color: #fff

  p
    color: #333
    margin-bottom: 0
    padding: 5px
  ul
    text-align: left
    margin-top: 15px

  ul li
    font-size: 12px
    list-style: squar

label, .error
  padding: 0.1em
  margin-bottom: 0.1em
  margin-left: 5px
  font-size: 12px
  font-weight: bold

.error
  border: 1px solid green
  font-weight: normal
  background: #fff
  border: none
label
  display: block

#collection_table
  width: 1000px

#collection, tr, td
  font-size: 12px

#collection, .record-even
  background: #EFF5FB
  color: #585858

#collection, .record-odd
  background-color: #fff
  color: #585858

#collection, .record-catalog
  height: 30px
  padding-top: 10px
  border-bottom: 1px solid silver
  text-align: left
  a
    font-size: 18px

#filter_row
  th
    text-valign: top
    text-align: center
    text-align: -moz-center

td.action
  text-align: center
  text-align: -moz-center

.userstatus_menu
  -moz-border-radius: 5px 0 5px 5px
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3)
  background: none repeat scroll 0 0 #FFFFFF
  border: 5px solid #CCCCCC
  line-height: 16px
  margin: 0
  padding: 8px
  position: absolute
  text-align: left
  width: 180px
  height: 100px
  margin-right: 180px
  z-index: 100

.show_user_profile
  -moz-border-radius: 5px 0 5px 5px
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3)
  background: none repeat scroll 0 0 #FFFFFF
  border: 5px solid #CCCCCC
  line-height: 16px
  margin: 0
  padding: 8px
  position: absolute
  right: 0
  text-align: left
  width: 400px
  height: auto
  left: 220px
  z-index: 100
  font-size: 9px

.row
  margin-top: 15px
  padding-bottom: 5px
  display: inline-block

.ui-autocomplete-loading 
  background: white url("/images/loading_indicator.gif") right center no-repeat

.button, .button:visited
  display: block
  float: left
  font-family:Arial,Verdana,Optima,sans-serif
  font-size: 12px
  padding: 0.45em 0.8em
  margin: .7em 0 0 0
  margin-left: 10px
  text-decoration: none
  color: white

#filter_header
  .button
    margin-left: 30px
    background: #93b206
    color: #fff
    font-size: 11px
  a:hover
    color: #FFFF00
tfoot
  height: 50px

.pagination
  margin-left: -10px
  margin-top: -12px
  position: absolute
  width: 900px
  text-align: center
  z-index: 666

.ui-progressbar-value 
  background-image: url(/images/pbar-ani.gif)

#collection
  a
    color: #6E6E6E
    font-size: 10px
  a:hover
    color: green

  .button
    padding: 0.15em 0.6em
    margin: .7em 0 0 0
    margin-left: 5px
    background: #fff

  .dangerous_button
    background: #FAAC58
    color: white
    display: block
    float: left
    font-family:Arial,Verdana,Optima,sans-serif
    font-size: 12px
    padding: 0.45em 0.8em
    margin: .7em 0 0 0
    margin-left: 10px
    text-decoration: none

  .green_button
    background: #93b206
    color: #fff
    font-size: 11px
    padding: 0.45em 0.25em 0.45em 0.25em
    text-decoration: none


#zero_associated_records
  float: right
