@import "base"
@import "form"
@import "collection_list"

//  Navigation
#top-navigation
  @extend .span-24
  @extend .last
  @extend .ui-tabs
  @extend .ui-helper-reset
  @extend .ui-helper-clearfix
  font-size: 11px
  text-align: left
  height: 33px
  ul
    @extend .ui-tabs-nav
    @extend .ui-helper-reset
    @extend .ui-helper-clearfix
    li
      @extend .ui-state-default
      @extend .ui-corner-top
      list-style-type: none
      padding-left: 0px
      padding-right: 0px
      height: 30px
      background: #0088BB
    li.selected
      @extend .ui-tabs-selected
      @extend .ui-state-active
      border-right: 0px
    li:hover
      @extend .ui-state-hover

#content
  @extend .span-24
  @extend .last
  width: 930px
  background: #fff
  font-size: 11px
  border: 5px solid #93c355
  margin-left: -3px
  -moz-border-radius-topright: 5px
  -webkit-border-top-right-radius: 5px
  -moz-border-radius-bottomright: 5px
  -webkit-border-bottom-right-radius: 5px
  -moz-border-radius-bottomleft: 5px
  -webkit-border-bottom-left-radius: 5px
  margin-bottom: 20px

#left-navigation
  @extend .span-5
  @extend .ui-widget
  @extend .ui-widget-content
  font-size: 12px
  text-align: left
  background: #fff
  border: 0px
  ul
    @extend .ui-tabs-nav
    @extend .ui-helper-reset
    @extend .ui-helper-clearfix
    margin-top: 10px
    li
      @extend .ui-state-default
      padding: 12px 8px
      list-style-type: none
      background: #0088BB
      border-bottom-left-radius: 5px
      border-color: #F4FCF2
      border-style: solid
      border-top-left-radius: 5px
      border-right: none
      border-left:none
      border-bottom: 1px
      margin-bottom: 6px
      margin-left: 8px
      height: 18px
    li.selected
      @extend .ui-tabs-selected
      @extend .ui-state-active
      border-right: none
    li:hover
      @extend .ui-state-hover

#right-content
  @extend .span-18
  @extend .last
  text-align: left
  padding-top: 10px
  padding-bottom: 10px
  font-size: 14px
  border-left: 5px solid #93c355
  margin-left: -10px
  padding-left: 9px
  min-height: 950px

  h3
    color: #6EAC2C
    text-shadow: rgb(143,191,92) 1px 1px 3px
    font-size: 160%
    font-weight: bold
    color: #6EAC2C
    letter-spacing: -1px

.subsection-round-corner
  @extend .span-18
  @extend .section-round-corner-with-bg
  @extend .last
  padding-top: 10px
  margin-bottom: 10px
  border-color: silver

#session_info
  @extend .ui-button-set
  @extend .span-24
  @extend .last
  text-align: right
  .current_user
    color: green
    display: inline

.subsection-round-corner
  @extend .span-18
  @extend .section-round-corner-with-bg
  @extend .last
  padding-top: 10px
  margin-bottom: 10px
  border-color: silver

#dialog
  h3
    color: #6EAC2C
    text-shadow: rgb(143,191,92) 1px 1px 3px
    font-size: 130%
    font-weight: bold
    color: #6EAC2C
    letter-spacing: -1px
    text-align: left

.ui-dialog-titlebar
  text-align: right
  @extend .span-9
  @extend .last
  border: none
  background: none
  a
    @extend .ui-button
    @extend .ui-button-icon
    @extend .ui-widget
    @extend .ui-state-default
    @extend .ui-corner-all