@import "blueprint"

#collection_table
  margin-top: 30px
  width: 965px

#collection, tr, td
  font-size: 12px

#collection, .record-even
  background: #EFF5FB
  color: #585858

#collection, .record-odd
  background-color: #fff
  color: #585858

#collection, .record-catalog
  height: 30px
  padding-top: 10px
  border-bottom: 1px solid silver
  text-align: left
  a
    font-size: 18px

#filter_row
  th
    text-valign: top
    text-align: center
    text-align: -moz-center

td.action
  text-align: center
  text-align: -moz-center

.row
  @extend .span-17
  @extend .last
  margin-bottom: 10px
  div
    @extend .span-4

.ui-autocomplete-loading
  background: white url("/images/loading_indicator.gif") right center no-repeat


#filter_header
  .button
    margin-left: 30px
    background: #93b206
    color: #fff
    font-size: 11px
  a:hover
    color: #FFFF00

#paginator
  display: block
  height: 30px

.pagination
  position: absolute
  width: 960px
  text-align: center
  z-index: 666

.ui-progressbar-value
  background-image: url(/images/pbar-ani.gif)

#collection
  a
    color: #6E6E6E
    font-size: 10px
  a:hover
    color: green

  .button
    padding: 0.15em 0.6em
    margin: .7em 0 0 0
    margin-left: 5px
    background: #fff

  .dangerous_button
    background: #FAAC58
    color: white
    display: block
    float: left
    font-family:Arial,Verdana,Optima,sans-serif
    font-size: 12px
    padding: 0.45em 0.8em
    margin: .7em 0 0 0
    margin-left: 10px
    text-decoration: none

  .green_button
    background: #93b206
    color: #fff
    font-size: 11px
    padding: 0.45em 0.25em 0.45em 0.25em
    text-decoration: none

#zero_associated_records
  float: right

#associated_records
  float: right

.author_list
  -moz-border-radius: 5px 0 5px 5px
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3)
  background: none repeat scroll 0 0 #FFFFFF
  border: 5px solid #CCCCCC
  line-height: 16px
  margin: 0
  padding: 8px
  position: absolute
  text-align: left
  //width: 180px
  margin-right: 180px
  z-index: 100

.record_details
  line-height: 16px
  top: 20px
  padding: 10px
  border: 1px solid silver
  -moz-border-radius: 5px 0 5px 5px
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3)
  background: #FBFBEF
