@import "start-jquery-ui"

input
  font: 12px Arial,sans-serif
  padding: 9px 7px 10px
  margin-bottom: 8px
  color: #666666
  border-color: #CCCCCC #DDDDDD #EAEAEA
  border-left: 1px solid #DDDDDD
  border-radius: 3px 3px 3px 3px
  border-right: 1px solid #DDDDDD
  border-style: solid

input[type="text"],
textarea,
input[type="password"]
  @extend input
  width: auto
  height: auto
  padding-left: 0px

select
  font: 12px Arial,sans-serif
  color: #666666
  width: 155px

.button, .button:visited
  display: block
  float: left
  font-family:Arial,Verdana,Optima,sans-serif
  font-size: 16px
  height: 32px
  padding: 0 23px
  text-decoration: none
  border-color: #BBBBBB #BBBBBB #999999
  border-radius: 4px 4px 4px 4px
  border-style: solid
  border-width: 1px
  color: #51a2eb

input[type="submit"]
  @extend .button

.radio_set
  text-align: left

  .collection_radio
    display: inline
    margin-right: 5px

  input[type="radio"]
    background: red
    position: relative
    display: inline
    border: 10px solid blue

.select_and_label
  display: inline-block

.simple_select
  width: 350px

label
  display: block
  font-weight: bold
  font: 13px Arial,sans-serif

.fieldWithErrors
  padding: 0px
  color: red
  display: table

.fieldWithErrors
  display: inline-block

#errorExplanation
  width: 400px
  border: 2px solid red
  padding: 7px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0

  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: -7px
    background-color: #c00
    color: #fff

  p
    color: #333
    margin-bottom: 0
    padding: 5px
  ul
    text-align: left
    margin-top: 15px

  ul li
    font-size: 12px
    list-style: squar

label, .error
  padding: 0.1em
  margin-bottom: 0.1em
  margin-left: 5px
  font-size: 12px
  font-weight: bold

.error
  border: 1px solid green
  font-weight: normal
  background: #fff
  border: none

#submit_buttons
  text-align: left
  a
    padding-top: 5px
    @extend .ui-state-default
    @extend .ui-corner-all
    @extend .button
    color: white
    margin-right: 10px

  a:visited
    @extend .ui-state-default
    @extend .ui-corner-all
    @extend .button
    color: white
  a:hover
    @extend .ui-state-hover
    @extend .ui-state-active

  input[type="submit"]
    @extend .ui-state-default
    @extend .ui-corner-all
    @extend .button
    color: white
    font-size: 16px
    padding-top: 8px
    padding-bottom: 12px
    height: 38px
    margin-right: 10px

  input[type="submit"]:hover
    @extend .ui-state-hover
    @extend .ui-state-active

.child_icon
  @extend .ui-button-icon-primary
  @extend .ui-icon

.add_child_icon
  @extend .child_icon
  @extend .ui-icon-plus

.del_child_icon
  @extend .child_icon
  @extend .ui-icon-trash

.child_link
  @extend .add_child
  @extend .ui-button
  @extend .ui-button-icon
  @extend .ui-widget
  @extend .ui-state-default
  @extend .ui-corner-all