@import "application"
@import "chosen"

#nav_links
  @extend .span-18
  @extend .last
  @extend .prepend-1
  text-align: right
  margin-bottom: 10px
  margin-left: -18px

  a
    text-decoration: none
    color: #0088BB
    height: 23px
    display: inline-block
    vertical-align: middle
    border-right: 1px solid #6EAC2C
    padding-right: 10px
    margin-right: 5px

  a:visited
    text-decoration: none
    color: #0088BB
    height: 23px
    display: inline-block
    vertical-align: middle

  a:hover
    color: #6EAC2C
