<h1>Edit <%= @edit.class.name %></h1>

<%= start_form_tag :action => 'update', :id => @edit %>
  <%= render :partial => Inflector.underscore(@edit.class.name)+'/form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

