<% for @edit in @list %>
 <hr>
 <a name="<%=Inflector.tableize(@edit.class.name)%>"> </a>
 <h2><%= get_label(Inflector.tableize(@edit.class.name)) %></h2>
 
 <% errors = @edit.errors.full_messages %>
 <%= errors.map { | error| error+'<br/>' } if errors.length > 0 %>
 <%= render :partial => Inflector.underscore(@edit.class.name)+'/form' %>
<% end %>

