<table width="100%">
<tr>
<td align="left">
<%= link_to ' << Anterior', :action => 'previous_page' %>
</td>
<td align="right">
<%= link_to 'Siguiente >>', :action => 'next_page' %>
</td>
</tr>
</table>
