
<%= start_form_tag :action => 'update' %>
  <%= render :partial => 'form_multi' %>
  <br/>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'show' %>

<%= render :partial => 'navbar' %>
