<h1>Edit <%= @edit.class.name %></h1>

<%= start_form_tag :action => 'update', :id => @edit %>
  <%= render :partial => @edit.class.name.downcase+'/form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>

<%= render :partial => 'navbar' %>
