<h1>New <%= @edit.class.name %></h1>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => @edit.class.name.downcase+'/form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= render :partial => 'navbar' %>

