- if user.published_articles.size > 0
  %h3 Publicaciones

  = link_to "...menos", nil, :id => :hide_all_published_articles
  %br/
  %br/

  - n = 0
  - user.published_articles.reorder('user_articles.show_in_home_page DESC, articles.year DESC, articles.month DESC, articles.authors ASC, articles.title ASC').each do |article|
    = (n +=1).to_s + '. ' + article.to_s
    = link_to_if_url_exists(article)
    %br/
    %br/
