- if user.recent_published_articles.size > 0
  %h3
    =t('web_site.home_pages.recent_published_articles')
  - n = 0
  - user.recent_published_articles.each do |article|
    = (n +=1).to_s + '. ' + article.as_text
    = link_to_if_url_exists(article)
    %br/
    %br/
