- if user.researchlines.size > 0
  %h3 L&iacute;neas de investigaci&oacute;n:
  %ol
    - user.researchlines.each do |record|
      = content_tag(:li, record.name.to_s) unless record.name_en.to_s.strip.empty?
