- if user.researchlines.size > 0
  %h3
    =t('web_site.home_pages.researchlines')
  %ol
    - user.researchlines.each do |record|
      - if !record.name.to_s.strip.empty?
        = content_tag(:li, record.name.to_s)
        = content_tag(:label, record.descr.to_s)
        %br &nbsp
