- if user.students.count > 0
  %h3 Estudiantes
  %iframe{:src => user.students_url, :width => '100%', :height => '600px', :frameborder => '0'}
-#
  %table
    %tr
      %th Fotografía
      %th Nombre
      %th Correo electrónico
      %th Periodo
    %tbody
      = render :partial => 'student', :collection => user.students
