- if user.user_skills.size > 0
  %h3 Experimental techniques and skills
  %ol
    - user.user_skills.each do |record|
      = content_tag(:li, record.descr_en.to_s) unless record.descr_en.to_s.strip.empty?
