<div id="identification" style="display:none;position:absolute;">
 <%= render :partial => "/salva/quickpost", 
            :locals => {:controller => 'identification', :title => 'Agregar identificación'} 
  %>
</div>

