<%= table_list(@collection, { :header => "Identificación", :columns => %w(descr) }) %>
<br/>
<div id="operations">
<%= link_to get_label('add'), :action => 'new' %> |
<%= link_to get_label('back'), {:controller => 'navigator', :depth => 0} %>
</div>
