<div id="login">
<div class="notes">
<img src="/images/error.gif" border="0" alt="*" ALIGN="bottom">
<b>Notificaci&oacute;n de RBAC (Role Based Access Control).</b>
<p>
<%= flash[:warning] %>
</p>
</div>
<%= link_to get_label('back'), {:controller => 'navigation', :id => 0} %>
</div>
