<%= error_messages_for 'stimuluslevel' %>

<!--[form:stimuluslevel]-->
<div class="row"> 
<label for="name" class="label"><%= get_label('stimuluslevel') %> <span class="required">*</span></label> 
<%= text_field 'stimuluslevel', 'name', 'size' => 30, 'maxsize'=> 40, 'tabindex'=> 1, 'id' => 'name' %>
</div>
<!--[eoform:stimuluslevel]-->

