%tr{:class => "filter_header", :id => "filter_header"}
  = form_for :search, :remote => true, :html => {:id => "filter_form"} do |f|
    %th{:class => 'ui-state-default', :style => 'width: 5%;'}
      =t(:id)
    %th{:class => 'ui-state-default', :style => 'width: 45%;'}
    %th{:class => 'ui-state-default', :style => 'width: 100px;'}
      = 'Libros'
    %th{:class => 'ui-state-default', :style => 'width: 100px;'}
      = 'Quitar/Agregar asociación como colaborador'
    %th{:class => 'ui-state-default', :style => 'width: 100px;'}
      =t(:show)
    %th{:class => 'ui-state-default', :style => 'width: 100px;'}
      =t(:edit)
    %th{:class => 'ui-state-default', :style => 'width: 100px;'}
      =t(:del)
