%tbody{:id =>'collection'}
  = render :partial => 'record', :collection => @book_collaborations
  = render :partial => 'collection_footer'
%tfoot{:id => 'paginator'}
  %tr
    %th
      = will_paginate @book_collaborations, :id => 'ajaxed_paginator'
