.author_list

  .span-6.last
    %b=t(:associated_academics)
    = link_to_close_author_list

  .span-6.last
    %ul
      - @book_collaboration.collaborators.each do |record|
        %li= record.as_text