<%= error_messages_for 'edit' %>

<!--[form:proceeding]-->
<div class="row"> 
<label for="conference_id" class="label"><%= get_label('conference_id') %> <span class="required">*</span></label> 
<div id="conference_id">
<%= table_select('edit', Conference, 1, 1) %>
</div>
<%= submit_for_stack('conference') %>
</div>

<div class="row"> 
<label for="title" class="label"><%= get_label('title') %><span class="required">*</span></label> 
<%= text_area 'edit', 'title', 'rows' => 4, 'cols' => 40, 'tabindex' => 2, 'id' => 'title' %></div>

<div class="row"> 
<label for="year" class="label"><%= get_label('year') %></label> 
<%= text_field_with_auto_complete :edit, :year, {:size =>4, :maxlength =>4, :tabindex => 3}, :skip_style => true %><br/></div>

<div class="row"> 
<label for="publisher_id" class="label"><%= get_label('publisher_id') %></label> 
<div id="publisher_id">
<%= table_select('edit', Publisher, 4) %>
</div>
<%= submit_for_stack('publisher') %>
</div>


<div class="row"> 
<label for="volume" class="label"><%= get_label('volume') %></label> 
<%= text_field :edit, :volume, {:size =>8, :maxlength =>40, :tabindex => 5}  %>
</div>

<%= hidden_field('edit', 'isrefereed', :value => 'true') %>

<div class="row"> 
<label for="other" class="label"><%= get_label('other') %></label> 
<%= text_area 'edit', 'other', 'rows' => 4, 'cols' => 40, 'tabindex' => 7, 'id' => 'other' %></div>


<!--[eoform:proceeding]-->

