<%= error_messages_for 'edit' %>

<!--[form:user_cite]-->
<div class="row"> 
<label for="total" class="label"><%= get_label('total') %> <span class="required">*</span></label> 
<%= text_field 'edit', 'total', 'size' => 7, 'maxlength'=> 7, 'tabindex'=> 1, 'id' => 'total' %>
</div>


<!--[eoform:user_cite]-->

