<!--[list:student_thesis]-->
<%= table_array(@collection, { :header => "Tesis", :columns =>
[ ['thesis_id', 'title', 'year', 'degree_id', 'institutioncareer_id'] ] })
%>
<!--[eoflist:student_thesis]-->

