<div class="filters"> 
<%= simple_select('filt', Country, 1) %>
 <br/>
 <%= observe_select('filt', 'country_id', 'select_institutioncareers_by_country', 2) %>
 <div id="select_institutioncareers_by_country">
 </div>
</div>
