<div class="row"> 
<label for="roleingroup_id" class="label"><%= get_label('login') %> <span class="required">*</span></label> 
<div id="user_id">
<%= get_user(@edit.user_id) %>
</div>
</div>

<%= table_show(UserRoleingroup.columns) %>
