<div id="mytree" class="mytree">

  <% @ancestors = @item.ancestors.collect{|parent| parent.id} if @parent %>

  <% @items = Tree.find(:all) %>

  <%= get_tree_data(@items, 0){|n|
      link_to_remote(get_label(n.name),
      :url=>{:controller=>n.name, :action => 'index'},
          :method => :get )}
  %>
</div>



