<div id="mytree" class="mytree">

  <% @ancestors = @item.ancestors.collect{|parent| parent.id} if @parent %>

  <% @items = Tree.find(:all) %>

  <%= get_tree_data(@items, nil){|n|
	 unless n.children?
      link_to_remote(get_label(n.name),
      :url=>{:controller=> n.name, :action => :index},
          :method => :get )
     else
		link_to_remote get_label(n.name), :url => {:controller => 'default', :action => :index}, :method => :get 
     end
      }
  %>
</div>



