<div class='inner_tree_element' id="<%= node.id %>_tree_div">
 <% if node.children.size > 0 %>
   
   <%= image_tag('expanded.gif', :onclick => "javascript: return toggleMyTree(\"#{node.id}\");", 
                                 :id => "#{node.id.to_s}expanded" %>

   <%= image_tag('collapsed.gif', :onclick =>"javascript: return toggleMyTree(\"#{node.id.to_s}\");", 
								  :id => "#{node.id.to_s}collapsed", :style => "display:#{display_collapsed}; cursor:pointer;" %>

 <% end %>

<span id="#{node.id}_tree_item"> <%= yield node %> </span>
<span id='#{node.id}children' style='#{node.style}' >
 <% render :partial => 'outer_tree', :collection=> node.children %>
</span>
</div>