<a name="#credits"></a>
<h2>Autor(es)</h2>
<p>
El proyecto inicialmente es creado y financiado por 
el <a href="http://www.fisica.unam.mx" target="_new">Instituto de
F&iacute;sica</a> de la 
<a href="http://www.unam.mx"  target="_new">UNAM</a>, y el <a
href="http://www.iiec.unam.mx">Instituto de Investigaciones
Económicas</a> se adhirió posteriormente a la iniciativa. Gracias 
a que el SALVA es una plataforma usando un modelo de desarrollo
abierto y libre de restricciones, confiamos en que nuestra comunidad
de desarrolladores aumente. 
</p>

<p>
Los desarrolladores del proyecto son:
</p>
<ul>
<li>
<a href="http://www.bsdcoders.org/~alex/" target="_new">Alejandro Ju&aacute;rez</a>
</li>
<li>
<a href="http://www.alesoft.net/" target="_new">Alejandro Sierra</a>
</li>
<li>
<a href="http://www.gwolf.org/" target="_new">Gunnar Wolf</a>
</li>
</ul>

