%div{ :class => 'span-8 last' } 
  = render :partial => "/shared/errors", :object => f.object.errors


= f.input :name, :as => :string, :wrapper_class => 'span-8 last' 


%div{:class=> 'span-8'}
  = f.label :stimulustype_id, :required => true 
  = f.collection_select :stimulustype_id,  Stimulustype.all, :id, :name, {:prompt => true, :selected => 2, :required => true}

