<!--[list:genericwork]-->
<%= table_list(@collection, { :header => "Título", :columns => %w( title authors genericworktype_id genericworkstatus_id year ) }) %> 
<br/>
<div id="operations">
<%= link_to get_label('add'), :action => 'new' %> |
<%= link_to get_label('back'), {:controller => 'navigator', :depth => 0} %>
</div>
<!--[eoflist:genericwork]-->

