%tr{:class => "filter_header", :id => "filter_header"}
  = form_for :search, :remote => true, :html => {:id => "filter_form"} do |f|
    %th{:class => 'ui-state-default', :style => 'width: 5%;'}
      =t(:id)
    %th{:class => 'ui-state-default', :style => 'width: 65%;'}
  
      = f.text_field :name_like_ignore_case, :size => 30
      %div{:id => 'alphabet_links'}= alphabet_links(:name)

    %th{:class => 'ui-state-default', :style => 'width: 10%;'}
      =t(:move)
    %th{:class => 'ui-state-default', :style => 'width: 10%;'}
      =t(:edit)
    %th{:class => 'ui-state-default', :style => 'width: 10%;'}
      =t(:del)
