%tbody{:id =>'collection'}
  = render :partial => 'institutiontype', :collection => @institutiontypes
  = render :partial => 'collection_footer'
%tfoot{:id => 'paginator'}
  %tr
    %th
      = will_paginate @institutiontypes, :id => 'ajaxed_paginator'
