%tr{:class => "filter_header", :id => "filter_header"}
  = form_for :search, :remote => true, :html => {:id => "filter_form"} do |f|
    %th{:class => 'ui-state-default', :style => 'width: 5%;'}
      =t(:id)
    %th{:class => 'ui-state-default', :style => 'width: 75%;'}
      %div{:class => 'span-8 '}=t(:refereed_criterium)
      %div{:class => 'span-6'}=t(:year)

      %div{:class => 'span-6'}= f.collection_select :refereed_criterium_id_eq, RefereedCriterium.all, :id, :name, :prompt => true
      %div{:class => 'span-4'}= f.text_field :year_eq, :size => 4
    %th{:class => 'ui-state-default', :style => 'width: 100px;'}
      =t(:show)
    %th{:class => 'ui-state-default', :style => 'width: 100px;'}
      =t(:edit)
    %th{:class => 'ui-state-default', :style => 'width: 100px;'}
      =t(:del)
