<%= table_show(Book.columns, { :hidden => %w()}) %>

<h2>Ediciones</h2>


<%= table_simple_list(Bookedition.find(:all, :conditions =>  ["book_id
= ?", @edit.id]), { :header => ">Ediciones", :columns => %w(year edition_id book_id) }) %>
<%= link_to 'Agregar edición', :action => 'new', :controller => 'bookedition', :id => @edit.id %>

<p>
<%= link_to 'Editar', :action => 'edit', :id => @edit %> |
<%= link_to 'Regresar', :action => 'list' %>
