<div id="operations">
 <%= link_to get_label('preview_pdf'), :action => 'preview_pdf' %>
 &nbsp; | &nbsp;
 <%= link_to get_label('send_annual_report'), :action => 'send_document' %>
 &nbsp; | &nbsp;
 <%= link_to get_label('cancel'), :action => 'list' %>
&nbsp; | &nbsp;
 <%= link_to 'Regresar a inicio', :controller => 'navigation' %>
</div>
