%div{ :class => 'span-6 section_left last' } 
  %div{:class => 'span-6 last'}
    = f.input :name, :as => :string, :html_input => { :size => '15' }
    = f.hidden_field :state_id, :value => params[:state_id]

