<div id="language" style="display:none;position:absolute;">
 <%= render :partial => "/salva/quickpost", 
 :locals => {:controller => 'language', :title => 'Idiomas', :partial => 'select_language', :attribute => 'language_id'} %>
</div>


