<%= error_messages_for 'edit' %>

<!--[form:user_newspaperarticle]-->
<div class="row"> 
<label for="newspaperarticle_id" class="label"><%= get_label('newspaperarticle_id') %> <span class="required">*</span></label> 
<div id="newspaperarticle_id">
<%= select_as_tree('edit', Newspaperarticle, %w(title newsdate), 1, 1) %>
</div>
<%= quickpost('newspaperarticle') %>
</div>

<div class="row"> 
<label for="ismainauthor" class="label"><%= get_label('ismainauthor') %> <span class="required">*</span></label> 
<div class="radio"> 
Autor principal <%= radio_button('edit', 'ismainauthor', 'true') %> 
Coautor <%= radio_button('edit', 'ismainauthor', 'false') %>
</div>
</div>

<div class="row"> 
<label for="other" class="label"><%= get_label('other') %></label> 
<%= text_area 'edit', 'other', 'rows' => 4, 'cols' => 40, 'tabindex' => 3, 'id' => 'other' %></div>


<!--[eoform:user_newspaperarticle]-->

