<%= table_show(ChapterinbookRoleinbook.columns) %>
<%= render :partial =>"salva/moduser" %>
<%= link_to 'Editar', :action => 'edit', :id => @chapterinbook_roleinbook %> |
<%= link_to 'Regresar', :action => 'list' %>
