<% unless id.to_i < 1  %> 
<%= select_conditions('edit', Regularcourse, 1, 
:attributes => ['title', ['academicprogram', [ 'institutioncareer', 'career' ] ] ],  
:conditions => "regularcourses.academicprogram_id=#{id}", :order => 'regularcourses.title ASC'
 ) %>
<% else %>
<%= select_conditions('edit', Regularcourse, 1, :order => 'regularcourses.title ASC',
:attributes => ['title', ['academicprogram', [ 'institutioncareer', 'career' ] ] ]
) %>
<% end %>
