<div class="filters">
 <%= select_conditions('edit', Institutioncareer,  1, :attributes => ['career', ['institution', 'name', ['institution', 'abbrev']]], :conditions => ['institution_id = ?', get_myschool.id]) %>
</div>
