<% if id.to_i > 0  %>
<%= select_conditions('edit', Institution, 2, :attributes => ['name',
['institution', 'abbrev']], :conditions => "institutiontitle_id =
#{id} AND country_id = 484 AND (institution_id <> 1 OR institution_id IS NULL)") %>
<% end %>
