#table_search_form

  = form_for :search, :remote => true, :html => {:id => "filter_form"} do |f|

    .span-4="Autor(es)"
    .span-5=t(:title)
    .span-4=t(:journal)
    .span-3=t(:year)
    .span-7.last="Acciones"

    .span-4=f.text_field :authors_like_ignore_case, :size => 15
    .span-5=f.text_field :title_like_ignore_case, :size => 20
    .span-4
      = text_field :autocomplete_filter, :journal_name, :size => 15
      = f.hidden_field :journal_id_eq
    .span-3=f.text_field :year_eq, :size => 4
    .span-7.last
