<% for h in @collection %>
<table class="list">
  <tr>
    <th><%= h[:title] %></th>
  </tr>
	<% for d in h[:docs] %>
   <tr class="even">
    <td class="item" style="text-align: center;" ><%= link_to d.title, :action => :user_list, :id => d.id %></td>
   </tr>
 <% end %>
</table>
<br />
<% end %>