<h1>Editando BookeditionComment</h1>

<% form_tag({:action => 'update', :id => @edit.id}) do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end -%>

<div id="operations">
 <%= link_to get_label('edit'), :action => 'edit', :id =>  @edit %> |
 <%= link_to get_label('back'), :action => 'back' %>
</div>
