- error_messages_for :user
- form_for @user, :url => admin_users_path, :html => { :multipart => true }do |f|
  = render :partial => 'form', :locals => { :f => f }
  %div{ :class => 'span-24 buttons_left last' }
    = f.submit  :save
