- text = %Q(En el año #{Date.today.year} pretendo cumplir las siguientes actividades: \n\n |
    # Actividad 1.\n |
    # Actividad 2.\n |
    # Actividad N.) |

- f.object.body = text if f.object.new_record?

= f.input :body, :as => :text, :input_html => { :size => '120x10' }
