- text = %Q(En el año #{Date.today.year} pretendo cumplir las siguientes actividades: \n\n |
  # Realizar investigación original y de alta calidad en los temas de mi especialidad. Como resultado de lo anterior publicaré artículos de investigación en revistas arbitradas e indexadas de reconocido prestigio, memorias in extenso y otras publicaciones tales como libros o capítulos en libros. \n |
  # Involucrarme en tareas de docencia, impartir cursos, dirigir trabajos de tesis y participar en cómites tutoriales y asesorías.\n |
  # Realizar tareas de divulgación, participación en seminarios y congresos de mi especialidad, así como actividades de intercambio académico.) |

= f.input :body, :as => :text, :input_html => { :value => text, :size => '120x10' }
