<%= error_messages_for 'edit' %>

<!--[form:projectbook]-->
<div class="row"> 
<label for="project_id" class="label"><%= get_label('project_id') %> <span class="required">*</span></label> 
<div id="project_id">
<%= table_select('edit', Project, 1, 1) %>
</div>
</div>

<div class="row"> 
<label for="book_id" class="label"><%= get_label('book_id') %> <span class="required">*</span></label> 
<div id="book_id">
<%= table_select('edit', Book, 2, 1) %>
</div>
</div>


<!--[eoform:projectbook]-->

