
<p><label for="book_title">Título</label><br/>
<%= @book.title %></p>
<%= start_form_tag :action => 'create' %>
<label for="roleinbook_id">Tipo de participaci&oacute;n</label>
<%= table_select('edit', 'roleinbooks') %>
  <%= submit_tag "Guadar"%>
<%= end_form_tag %>
<%= link_to 'Back', :action => 'list' %>
