%tbody{:id =>'collection'}
  = render :partial => 'record', :collection => @user_credits
  = render :partial => 'collection_footer'
%tfoot{:id => 'paginator'}
  %tr
    %th
      = will_paginate @user_credits, :id => 'ajaxed_paginator'
