<h1> <%= get_label(Inflector.tableize(@edit.class.name)) %></h1>

<% form_tag({:action => 'update', :id => @edit.id}) do -%>
  <%= render :partial => Inflector.underscore(@edit.class.name)+'/form' %>
  <%= submit_tag 'Edit' %>
<% end -%>

<%= link_to 'Back', :action => 'show' %>

<%= render :partial => 'navbar' %>
