<!--[list:user_proceeding]-->
<%= table_array(@collection, { :header => "Artículo", :columns =>
[ ['proceeding_id', 'conference_id', 'title', 'year'], 'roleproceeding_id'] })
%>
<!--[eoflist:user_proceeding]-->

