<!--[show:bookedition_publisher]-->
<%= render :partial => "bookedition_publisher/show" %>

 <%= render :partial =>"salva/moduser" %> 
<div id="operations">
 <%= link_to get_label('edit'), :action => 'edit', :id =>  @edit %> |
 <%= link_to get_label('back'), :action => 'back' %>
</div>
<!--[eofshow:bookedition_publisher]-->

