<% @finder.record_as_pair.each do |data| %>
<p>
<label><%= get_label(data[0]) %>: </label><%= data[1] %>
</p>
<% end %>
<%= link_to_remote get_label('edit'), :url => edit_address_path(@record), :method => :get  %>  |
<%= link_to_function(get_label('back')) do |page|  page.replace_html 'form', :partial => 'add' end %>

