<h1>Editando State</h1>

<% form_tag({:action => 'update', :id => @edit.id}) do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end -%>

<%= link_to 'Mostrar', :action => 'show', :id => @edit %> |
<%= link_to 'Regresar', :action => 'list' %>
