<!--[list:user_adscription]-->
<%= table_list(@collection, { :header => "Título", :columns => %w( jobposition_id adscription_id startyear ) }) %> 
<br/>
<div id="operations">
<%= link_to get_label('add'), :action => 'new' %> |
<%= link_to get_label('back'), {:controller => 'navigator', :depth => 0} %>
</div>
<!--[eoflist:user_adscription]-->
<%= navcontrol %>
