%div{ :class => 'span-14 section_left last' }
  %h3= t('roleinconferences.show.title')
  - show_for @roleinconference do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_roleinconference_path(:id => @roleinconference.id)
  = link_as_button t(:back), admin_roleinconferences_path
