%tbody{:id =>'collection'}
  = render :partial => 'conferencescope', :collection => @conferencescopes
  = render :partial => 'collection_footer'
%tfoot{:id => 'paginator'}
  %tr
    %th
      = will_paginate @conferencescopes, :id => 'ajaxed_paginator'
