%div{ :class => 'span-14 section_left last' }
  %h3= t('conferencescopes.show.title')
  - show_for @conferencescope do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_conferencescope_path(:id => @conferencescope.id)
  = link_as_button t(:back), admin_conferencescopes_path
