<div id="loading" style="display: none"> Actualizando... </div>

<div id="collection">
 <div class="row">
 <span class="th_id"> Seleccionar</span>
 <span class="th_content"><%= title.nil? ? 'Registros' : title %></span>
 <span class="th_actions">Acciones</span>
 </div>
           <%= render :partial => 'shared/record', :collection => @collection %>
</div>

<div id="form">
        <%= render :partial => 'shared/add' %>
</div>


