********************************************************************
*                      Este es un reporte automático               *
*                            NO HAGA REPLY                         *
********************************************************************

Su cuenta en el SALVA ha sido <<activada>>:

  Login: <%= @user.login %>
  Contraseña: ***********

Para iniciar una sesión en el salva use el siguiente enlace en el
navegador de su preferencia:

<%= @url %>

Gracias por usar la plataforma de información curricular SALVA.

<%= @institution %>

====================================================================
