********************************************************************
*                      Este es un reporte automático               *
*                            NO HAGA REPLY                         *
********************************************************************

Para restablecer el password de su cuenta '<%= @user.login %>'
debe usar el siguiente enlace en el navegador de su preferencia:

<%= @url %>

La expiración de este enlace vencerá hasta:
<%= @user.token_expiry %>

Gracias por usar la plataforma de información curricular SALVA.

<%= @institution %>

====================================================================
