<%= error_messages_for 'edit' %>

<!--[form:prize]-->
<div class="row">
<label for="name" class="label"><%= get_label('name') %> <span class="required">*</span></label>
<%= text_area 'prize', 'name', 'size' => '40x4', 'tabindex'=> 1, 'id' => 'name' %>
</div>

<div class="row"> 
<label for="prizetype_id" class="label"><%= get_label('prizetype_id') %> <span class="required">*</span></label> 
<%= simple_select('prize', Prizetype, 2) %> 
</div>

<!--[eoform:prize]-->

