%div{ :class => 'span-14 section_left last' }
  %h3= t('roleproceedings.show.title')
  - show_for @roleproceeding do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_roleproceeding_path(:id => @roleproceeding.id)
  = link_as_button t(:back), admin_roleproceedings_path
