<%= error_messages_for 'edit' %>

<!--[form:user_stimulus]-->
<div class="row"> 
<label for="stimuluslevel_id" class="label"><%= get_label('stimuluslevel_id') %> <span class="required">*</span></label> 
<div id="stimuluslevel_id">
<%= select_as_tree('edit', Stimuluslevel, %w(stimulustype_id name), 1, 1) %>
</div>
<%= quickpost('stimuluslevel') %>
</div>

<div class="row"> 
<label for="startyear" class="label"><%= get_label('startyear') %> <span class="required">*</span></label> 
<%= text_field_with_auto_complete :edit, :startyear, {:size =>4, :maxlength =>4, :tabindex => 2}, :skip_style => true %><br/></div>

<div class="row"> 
<label for="startmonth" class="label"><%= get_label('startmonth') %></label> 
<%= month_select('edit', 'startmonth', {:tabindex => 3, :required => 0 }) %> 
</div>

<div class="row"> 
<label for="endyear" class="label"><%= get_label('endyear') %></label> 
<%= text_field_with_auto_complete :edit, :endyear, {:size =>4, :maxlength =>4, :tabindex => 4}, :skip_style => true %><br/></div>

<div class="row"> 
<label for="endmonth" class="label"><%= get_label('endmonth') %></label> 
<%= month_select('edit', 'endmonth', {:tabindex => 5, :required => 0 }) %> 
</div>


<!--[eoform:user_stimulus]-->

