<%= error_messages_for 'edit' %>

<!--[form:user_article]-->

<div class="row"> 
<label for="dbtime">dbtime</label> 
<%= text_field 'edit', 'dbtime' %>
</div>

<div class="row"> 
<label for="ismainauthor">ismainauthor</label> 
<%= text_field 'edit', 'ismainauthor' %>
</div>

<div class="row"> 
<label for="other">other</label> 
<%= text_field 'edit', 'other' %>
</div>


<!--[eoform:user_article]-->

