<!--[list:regularcourse]-->
<%= table_list(@collection, { :header => "Título", :columns => %w( name institutioncareer_id courseduration_id modality_id  ) }) %> 
<br/>
<div id="operations">
<%= link_to get_label('add'), :action => 'new' %> |
<%= link_to get_label('back'), {:controller => 'navigator', :depth => 0} %>
</div>
<!--[eoflist:regularcourse]-->

