#header.span-24.last
  #title
    = 'SALVA - Plataforma de Información Curricular, '
    = link_to "Instituto de Física", "http://www.fisica.unam.mx", :target => '_new'
  = render :partial => 'layouts/toplinks'
