%div{:id => 'header'}
  %div{:id => 'title'}
    = link_to "Instituto de Física", "http://www.fisica.unam.mx", :target => '_new'
    %br
    = 'Sistema de Investigadores Posdoctorales'
  = render :partial => 'layouts/toplinks'