%div{:id => 'header'}
  %div{:id => 'title'}
    = 'SALVA - Plataforma de Información Curricular'
    %br
    = link_to "Instituto de Física", "http://www.fisica.unam.mx", :target => '_new'
  = render :partial => 'layouts/toplinks'
