<html>
<head>
	<title> Public</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description"  content="Plataforma de informaci&oacute;n curricular SALVA" />
	<meta name="copyright" content="Universidad Nacional Aut&oacute;noma de M&eacute;xico" />
	<link rel="icon" href="/images/favicon.ico" />
	<%= stylesheet_link_tag 'public' %>
	<%= javascript_include_tag :defaults %>
</head>
<body>
<%= yield  %>
</body>
</html>

