<h1>Editando Chapterinbook</h1>

<%= start_form_tag :action => 'update', :id => @edit %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Mostrar', :action => 'show', :id => @edit %> |
<%= link_to 'Regresar', :action => 'list' %>
