/* body */
body 
{
  color:#000000;
  background: #fff url(/themes/default/images/treemenu_bg.gif);
  background-attachment: fixed;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin:0px;

}

#logo 
{
  background: #fff url(/themes/default/images/treemenu_logo.png);
  width: 180px;
  height: 135px;
}

#root 
{
  color:#000000;
  background:transparent;
  font-family:Arial, Helvetica, sans-serif;
  font-size:84%;
}

.subtext 
{
  color: #000000;
  font-family:Arial, Helvetica, sans-serif;
  font-size:84%;
  background:transparent;
}

a 
{
  font-family:Arial, Helvetica, sans-serif;
  font-size:84%;
  text-decoration:none;
  color:#330099;
  background:transparent;
}

p 
{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 10px;
}

a:hover 
{
  color:#990000;
  background:transparent;
  }

a.tracked 
{
  color:#000000;
  background:transparent;
}

a.subexpanded 
{
  color:#666699;
  background:transparent;
}

a.subclosed 
{
  color:#666699;
  background:transparent;
}

p.msg 
{
  text-align: justify;
  background: #ffffcc;
  width: 145px;
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #336666;
}
